<!DOCTYPE html>
<html>
<head>
    <title>设备信息表</title>
    <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/list-search-table.css">
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/new_css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/viewer.min.css">
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>
<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/new_css/index.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/css/new_fonts/iconfont.css" media="all">
    <style>
        .layui-table-cell {
            padding:0 5px;
            height:inherit;
            overflow:visible;
            text-overflow:inherit;
            white-space:normal;
            word-break: break-all;
        }
        #rrapp .car-stutas-dd{
            display: flex;
            justify-content: flex-start;
        }
        #rrapp .car-stutas-dd .car-stutas-dd-title{
            min-width:70px;
            font-size:14px;
            padding:8px 12px 8px 12px;
            font-weight: 700;
            text-align: center;
        }
        #rrapp .car-stutas-dd .car-stutas-dd-list .car-stutas-dd-list-item{
            display: inline-block;
           padding: 4px 8px;
           font-size:14px;
           margin-right:12px;
           border:1px solid #BED7DE;
           border-radius: 4px;
           margin:6px 8px 6px 0px;
           font-weight:700;
        }
        #rrapp .car-stutas-dd .car-stutas-dd-list .car-stutas-dd-list-item:hover{
            border: 1px solid #3FACB3;
            box-shadow: 0 0 8px #eee;
        }
        #rrapp .car-stutas-dd .car-stutas-dd-list .car-stutas-dd-list-item.cactive{
            border:1px solid #3FACB3;
            background:#3FACB3;
            color:#fff;
        }
        #rrapp .car-stutas-dd .car-stutas-dd-list .car-stutas-dd-list-item:last-child{
           margin-right:0px;
        }
    </style>
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <div class="list-header-content-box">
        <div class="car-stutas-dd">
            <span class="car-stutas-dd-title">设备类型</span>
            <div class="car-stutas-dd-list">
                <div class="car-stutas-dd-list-item" v-for="(item, index) in deviceType" :key="item.cardType" @click="changeStatus(item)"
                    :class="item.cardType === q.cardType ? 'cactive' : ''" style="cursor:pointer;">
                    <div class="list-header-sm-card-text">{{item.label}} ({{item.number}})</div>
                </div>
            </div>
        </div>
      </div>
    <div class="mvvm-table">
        <div class="list-search-title-box">
            <form class="layui-form" style="box-shadow: 0 0 20px #eee;padding-right: 15px;">
                <section class="jxc-section" style="display: flex;align-items: flex-start;white-space: nowrap;">
                    <div class="card layui-row" style="flex: 1">
                        <div class="layui-form-item ">
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">设备编号</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.deviceNo"
                                           placeholder="请输入设备编号"/>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">车牌号</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.carPlateNo"
                                           placeholder="请输入车牌号"/>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">设备供应商</label>
                                <div class="layui-input-inline">
                                    <select lay-filter="manufacturerNumber" v-model="q.manufacturerNumber"
                                            id="manufacturerNumber">
                                        <option value="">请选择设备生产商</option>
                                        <option v-for="item in gpsEquipmentSupplier" :value="item.code">{{item.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <section v-show="isFilter">
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">设备型号</label>
                                <div class="layui-input-inline">
                                    <select lay-filter="deviceTypeNo" v-model="q.deviceTypeNo" id="deviceTypeNo">
                                        <option value="">请选择设备型号</option>
                                        <option v-for="item in deviceTypeNoList" :value="item.deviceTypeNo">{{item.deviceTypeNo}}</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                        <div :class="isFilter?'layui-col-md12':'layui-col-md3'" class="layui-inline  layui-col-sm6 layui-col-xs12 flex-end">
                            <label class="layui-form-label"> </label>
                            <div style="display: flex;align-items: center;">
                                <a class="layui-btn search-btn" @click="query">查询</a>
                                <a class="layui-btn reset-btn" @click="reset">重置</a>
                                <div class="df-color"  @click="bindFilter" style="margin-left: 10px;cursor: pointer;user-select: none;">
                                    <span >高级筛选</span>
                                    <i class="icon layui-icon-extend layui-extend-shaixuan"></i>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div class="list-search-title-box ground-search-btn">
            <form class="layui-form">
                <div style="display:flex;width: 100%;">
                    <div class="layui-form-item layui-row" style="width: 100%;">
                        <div class="list-search-form-button" style="width: 100%;">
                            <a class="layui-btn btn-primary" @click="add" v-m-perm="['deviceinformation:deviceinformation:save']">新增</a>
                            <a class="layui-btn btn-warning"  @click="importDevice" v-m-perm="['deviceinformation:deviceinformation:import']">数据导入</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="list-table-content-box">
            <table class="layui-hide" id="grid" lay-filter="grid"></table>
        </div>
    </div>
</div>

<!--操作-->
<script type="text/html" id="barTpl">
    <a class="layui-grid-btn-xs option-btn-margin" lay-event="view" v-m-perm="['deviceinformation:deviceinformation:info']" more-btn-index="{{d.LAY_INDEX-1}}">查看</a>
    <a class="layui-grid-btn-xs option-btn-margin" lay-event="edit" v-m-perm="['deviceinformation:deviceinformation:update']" more-btn-index="{{d.LAY_INDEX-1}}">编辑</a>
    <a class="layui-grid-btn-xs option-btn-margin" lay-event="del" v-m-perm="['deviceinformation:deviceinformation:delete']" more-btn-index="{{d.LAY_INDEX-1}}">删除</a>

    <!--如果车辆id为空的时候可以绑定车辆-->

    {{#if(d.carId==null){}}
    <a class="layui-grid-btn-xs option-btn-margin" lay-event="bundlingCar" v-m-perm="['deviceinformation:deviceinformation:bundlingCar']" more-btn-index="{{d.LAY_INDEX-1}}">绑定</a>
    {{#}}}
    <!--如果车辆id不为空的时候可以解绑车辆-->
    {{#if(d.carId!=null){}}
    <a class="layui-grid-btn-xs option-btn-margin" lay-event="unbundlingCar" v-m-perm="['deviceinformation:deviceinformation:unbundlingCar']" more-btn-index="{{d.LAY_INDEX-1}}">解绑</a>
    {{#}}}
</script>

<script src="../../statics/js/modules/deviceinformation/deviceinformationlist.js"></script>
</body>
</html>
