<!DOCTYPE html>
<html>
<head>
    <title>绑定车辆</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
    <link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
    <script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
    <script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
    <script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/common.js"></script>
    <script type="text/javascript" src="../../statics/js/upload.js"></script>
    <script type="text/javascript" src="../../statics/common/step/steps.js"></script>
    <link rel="stylesheet" href="../../statics/css/jxcPublicAll.css" media="all">
    <link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../statics/common/step/steps.css">
    <link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
    <script src="../../statics/js/modules/cropper/cropper.min.js"></script>
    <script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
    <script src="../../statics/common/layui/autocomplete.js"></script>
    <script src="../../statics/js/modules/viewer/viewer.min.js"></script>
    <script src="../../statics/common/print-js/print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
    <script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/searchview.js"></script>
    <script type="text/javascript" src="../../statics/js/tableedit.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/css/fonts/larry-icon.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/css/new_fonts/iconfont.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/css/fontdemo.css" media="all">
    <!-- 引入组件库 -->
    <link rel="stylesheet" type="text/css" href="../../statics/css/index.css">
    <style>
        .layui-form-label {
            width: 80px !important;
        }

        .layui-form-item .layui-input-inline {
            width: 256px;
        }

        .timeline-row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a{text-decoration:none}
        .timeline-count {
            width: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid #ddd;
            color: #ddd;
            font-size: 16px;
            box-sizing: border-box;
        }

        .count-active {
            color: #fff;
            background-color: #3facb3;
            border: none;
        }

        .timeline-text {
            width: 145px;
            text-align: center;
            font-size: 13px;
            margin-top: 6px;
            color: #999;
        }

        .text-active {
            color: #333;
        }

        .timeline-line {
            flex: 1;
            width: 0;
            margin-top: 15px;
            height: 1px;
            background-color: #ddd;
        }
        td {
            overflow:auto;
        }
    </style>


</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <div class="layui-form ren-form">
        <div class="layui-form-item">
            <div style="display: flex;flex-direction:column;width: 50%; margin: 30px auto 50px">
                <div style="display: flex;width: 70%; margin: 10px auto">
                    <span class="timeline-count" :class="step===1?'count-active':''">1</span>
                    <div class="timeline-line"></div>
                    <span class="timeline-count" :class="step===2?'count-active':''">2</span>
                </div>
                <div style="display: flex;width: 85%; margin: 0px auto;justify-content: space-between">
                    <span class="timeline-text" :class="step===1||step===2?'text-active':''">选择绑定车辆</span>
                    <span class="timeline-text" :class="step===2?'text-active':''">输入绑定位置</span>
                </div>

            </div>

            <div v-show="step===0">
                <form class="layui-form">
                    <section class="jxc-section">
                        <div class="card">
                            <div class="layui-form-item layui-row">
                                <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                    <label class="layui-form-label">车牌号:</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input searchVal" v-model="q.carNo"  placeholder="请输入车牌号"/>
                                    </div>
                                </div>
                                <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                    <div class="list-search-form-button">
                                        <a class="layui-btn search-btn" @click="query">查询</a>
                                        <a class="layui-btn reset-btn" @click="reset">重置</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="form-content-session-box">
                        <div class="list-table-content-box">
                            <table class="layui-hide" id="grid" lay-filter="grid"></table>
                        </div>
                    </div>
                </form>
            </div>
            <div v-show="step===1">
                <form class="layui-form">
                    <div class="layui-form-item layui-row">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label"><span style="color:red">*</span>绑定位置:</label>
                            <div class="layui-input-inline" style="width:100%">
                                <textarea name="" v-model.trim="bingding.installationPosition"  lay-verify="installationPosition" placeholder="请输入绑定位置" class="layui-textarea" maxlength="100"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="float-btn-group" style="display: flex;justify-content: center;left: 0">
            <button  v-show="step===0" class="layui-btn search-btn" @click="next">下一步</button>
            <button  v-show="step===1" class="layui-btn search-btn" @click="save">提交</button>
            <button  class="layui-btn reset-btn"  @click="cancel">取消</button>
        </div>
    </div>
</div>
<script src="../../statics/js/modules/deviceinformation/selectgpsdevice.js"></script>
</body>
</html>
