<!DOCTYPE html>
<html>
<head>
    <title>预约试驾</title>
    <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/css/index.css">






</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <form class="layui-form ren-form" style="margin-bottom: 60px;">

        <div class="form-content-box">
            <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                <span style="font-weight: bold;font-size: 16px;">预约试驾信息</span>
            </div>

            <div class="form-content-session-box">
                <div class="card">
                    <div class="layui-row layui-form-row-content">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">线索来源:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.cluesTypeName" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">品牌/车系/车型:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.carBsmName" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">预约门店:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.reserveDeptName" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">门店联系人:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.deptContact" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">门店地址:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.reserveAddress" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-content-box">
            <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                <span style="font-weight: bold;font-size: 16px;">预约用户信息</span>
            </div>

            <div class="form-content-session-box">
                <div class="card">
                    <div class="layui-row layui-form-row-content">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">联系人:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.contact" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">联系电话:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.phone" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">备注信息:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.reserveContent" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">预约时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.reserveTime" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">是否已拨打客户电话:</label>
                            <div class="layui-input-inline">
                                <input type="text" style="border: 0" class="layui-input searchVal" :value="cluesSourceDrive.isCallStr" disabled/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-content-box">
            <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                <span style="font-weight: bold;font-size: 16px;">处理备注</span>
            </div>
            <div class="form-content-session-box">
                <div class="layui-row layui-form-row-content">
                    <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                        <label class="layui-form-label">处理状态<span style="color:red">*</span>:</label>
                        <div class="layui-input-inline">
                            <select style="width: 150px;"  lay-filter="dealStatusType" v-model="cluesSourceDrive.dealStatus" lay-verify="validate_dealStatus">
                                <!-- 处理状态：0、无效 1、无效/定金已退 2、持续跟进 3、已成交 默认-1无处理状态 -->
                                <option value="">请选择处理状态</option>
                                <option value="0">无效</option>
                                <option value="1">持续跟进</option>
                                <option value="2">已成交</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                        <label class="layui-form-label">处理备注<span style="color:red">*</span>:</label>
                        <div class="layui-input-inline">
                            <textarea maxlength="500" lay-verify="validate_dealContent" v-model="cluesSourceDrive.dealContent"  placeholder="请输入处理备注信息" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="float-btn-group bottom-bar">
            <a class="layui-btn reset-btn" id="closePage">关闭</a>
            <a class="layui-btn search-btn" lay-submit lay-filter="save" id="save">确认</a>
        </div>
    </form>
</div>

<script src="../../statics/js/modules/clues/yysjcluesdeal.js?_${.now?long}"></script>
</body>
</html>
