.ren-form {
    margin-top: 0;
}

.details-tab-content-box {
    width: 100%;
    line-height: inherit;
}

.layui-tab {
    margin: 0;
    width: 100%;
}


.layui-tab-content {
    padding: 0;
}

.details-content-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(17, 45, 47, 0.12);
    padding: 23px 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px !important;
    margin-top: 0;
}

.details-conteiner {
    width:100%;
    padding-bottom: 80px;
}

.layui-input-inline-upload-button {
    width: 160px;
    height: 120px;
    word-break: break-all;
}

.layui-input-inline-upload-button img {
    width: 160px;
    height: 120px;
}


.float-btn-group {
    left: 50% !important;
    transform: translateX(-50%);
    right: unset !important;
}

.float-btn-group .layui-btn {
    line-height: 36px !important;
    height: 36px !important;
}

/*.left-before{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

.details-content-box .left-before:before {
    border-radius: 6px;
    height: 18px;
    width: 5px;
    top: 1px;
    left: -13px;
    transform: rotate(15deg);
}

.list-search-sup-title, .new-layui-title {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.list-search-sup-title .title-issue {
    color: #999;
    font-weight: normal;
    font-size: 13px;
    margin-left: 10px;
}

.border-bottom-dashed {
    border: none;
}

.layui-form-row-content .layui-inline {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.details-layui-row .layui-form-row-content .layui-inline .layui-form-label {
    color: #666 !important;
    font-size: 14px !important;
    width: auto !important;
    padding: 0 !important;
    line-height: 20px !important;
    white-space: nowrap;
    font-weight: normal;
}

.layui-input, .layui-select, .layui-textarea {
    height: auto !important;
    color: #333 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    box-sizing: content-box !important;
    background: none !important;
    outline: none !important;
    border: 0px !important;
    /*width: 0 !important;*/
    /*flex: 1 !important;*/

}

.layui-form-row-content .layui-inline .layui-input-inline {
    width: 75% !important;
    line-height: 20px;
}

.details-layui-row .layui-form-row-content .layui-inline .layui-input-inline input {
    overflow: visible !important;
    word-break: break-all !important;
    line-height: unset !important;
}

.layui-input-inline span:first-child {
    margin-left: 10px;
    font-size: 14px;
}

.text-edit {
    color: #3FACB3;
    cursor: pointer;
    margin-left: 10px
}

.layui-form-radio {
    line-height: 20px !important;
    margin: 0 10px 0 0 !important;
}

.layui-input-inline-upload {
    margin-left: 10px !important;
}

.layui-input-inline-upload .layui-input-inline-upload-button {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.layui-input-inline-upload .layui-input-inline-upload-show {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.layui-input-inline-upload-show-delete {
    z-index: 1 !important;
}

.layui-input-inline-upload > div.box-rect > div > img.view-img {
    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.layui-input-inline-upload-show > div:last-child {
    background: #0cdeea;
    display: none !important;
}

thead th .layui-table-cell {
    font-weight: bold !important;
}

.layui-table, .layui-table-view {
    margin: 30px 0 0;
}

.layui-table-view .layui-table-header .layui-table thead tr {
    background-color: #FAFAFA !important;
}

.generate-contract {
    color: #3FACB3;
    background-color: #fff;
    border: 1px solid #3FACB3 !important;
    border-radius: 20px !important;
    line-height: 30px;
    padding: 0 20px;
}

.print-contract {
    color: #3FACB3;
    background-color: #fff;
    margin-right: -10px;
    border: none !important;
}

.download-contract {
    color: #3FACB3;
    background-color: #fff;
    border: none !important;
}

.left-before .layui-btn + .layui-btn {
    margin-left: 0px !important;
}

.margintop30{
    margin-top: 30px;
}
.fm-daoru-title {
    width: 6px;
    margin-right:8px;
    margin-top:8px;
    height: 18px;
    display: inline-block;
    background: #3FACB3;
    border-radius: 3px;
    transform:rotate(12deg);
}
.form-content-title{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-align:left;
}
.layui-table-body .layui-table {
    color: #000 !important;
}

.layui-input-inline-upload-text {
    height: 20px !important;
    line-height: 20px !important;
    font-size: 12px !important;
    margin-left: 10px !important;
}

.layui-input-inline-upload-show {
    width: 160px !important;
    height: 120px !important;
}

.layui-table-view .layui-table {
    width: 100% !important;
}

.layui-table-view {
    border: 1px solid #e6e6e6 !important;
    border-radius: 2px !important;
}

.layui-table td, .layui-table th {
    border-width: 1px;
}
.vm-table{
    margin-top:16px;
}
.vm-table .layui-table, .layui-table-view{
    margin: 12px 0 0;
}
.table-title{
    font-size:16px;
    font-weight: 700;
}
.layui-table-cell {
    padding: 0 !important;
    margin: 0 auto;
}


.float-btn-group {
    z-index: 9 !important;
}

.details-content-box .table {
    border-bottom: none !important;
}

.details-tab-content-box .layui-tab-title {
    border-bottom: none;
}


.details-tab-content-box .layui-tab-title > li:first-child {
    border-top-left-radius: 6px;
}

.details-tab-content-box .layui-tab-title > li:last-child {
    border-top-right-radius: 6px;
    border-right: 1px solid #3FACB3;
}

.details-tab-content-box .layui-tab-title li {
    background: #EFF9FA;
    border: 1px solid #3FACB3;
    border-bottom: none;
    border-right: none;
    color: #333;
}

.details-tab-content-box .layui-tab-title .layui-this {
    color: #3FACB3;
    background: #fff;
    position: relative;
}

.details-tab-content-box {
    height: 40px;
}

.details-tab-content {
    margin-bottom: 0;
}

.feeList .layui-table-body {
    overflow: unset !important;
}





.component-upload-image{
    margin-right: 15px;
}

.component-upload-image .uoloadSty .el-upload--picture-card {
    width: 110px;
    height: 110px;
    line-height: 110px;
}

.component-upload-image .disUoloadSty .el-upload--picture-card {
    display: none; /* 上传按钮隐藏 */
}

.component-upload-image /deep/ .hideUpload .el-upload--picture-card {
    display: none;
}

.component-upload-image /deep/ .el-upload--picture-card {
    width: 104px;
    height: 104px;
    line-height: 104px;
}

.component-upload-image /deep/ .el-upload-list--picture-card .el-upload-list__item {
    width: 104px;
    height: 104px;
}

.component-upload-image /deep/ .el-list-enter-active,
.component-upload-image /deep/ .el-list-leave-active {
       transition: all 0s;
   }

.component-upload-image /deep/ .el-list-enter,
.el-list-leave-active {
    opacity: 0;
    transform: translateY(0);
}

.component-upload-image .component-upload-image {
    margin-right: 15px;
}

.component-upload-image .hideRight    /deep/ .el-upload-list__item-status-label {
    display: none !important;
}

.component-upload-image .file-name {
    text-align: center;
    font-size: 12px;
    margin: 10px 5px;
    word-break: break-all;
    padding: 6px 5px;
}

.component-upload-image .file-name .file-name_inline {
    line-height: 1.5;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.component-upload-image .file-wrap {
    width: 100%;
    height: 100%;
}

.component-upload-image /deep/ .el-upload-list--picture-card .el-upload-list__item,
.component-upload-image .is-success {
    margin: 0 8px -2px 0 !important;
}