<!DOCTYPE html>
<html lang="en">

<head>
    <title>查看保险单</title>
    <link rel="stylesheet" type="text/css" href="../../statics/css/public/flowChart.css">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
    <link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
    <script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
    <script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
    <script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/common.js"></script>
    <script type="text/javascript" src="../../statics/js/upload.js"></script>
    <script type="text/javascript" src="../../statics/common/step/steps.js"></script>
    <link rel="stylesheet" href="../../statics/css/jxcPublicAll.css" media="all">
    <link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../statics/common/step/steps.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
    <link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
    <script src="../../statics/js/modules/cropper/cropper.min.js"></script>
    <script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
    <script src="../../statics/common/layui/autocomplete.js"></script>
    <script src="../../statics/js/modules/viewer/viewer.min.js"></script>
    <script src="../../statics/common/print-js/print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
    <script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/searchview.js"></script>
    <script type="text/javascript" src="../../statics/js/tableedit.js"></script>
    <script type="text/javascript" src="../../statics/js/bpmchart.js"></script>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

    <!-- 引入组件库 -->
    <link rel="stylesheet" type="text/css" href="../../statics/css/index.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/new-edit.css">

    <style>

        .mvvm-table .layui-form {
            width: 100%;
        }
    </style>



</head>

<body class="ren-body">
    <div id="rrapp" v-cloak>
        <form class="layui-form">
            <div class="form-content-box" style="padding: 5px 20px 20px">
                <div class="form-content-session-box">
                    <div class="form-layui-row">
                        <div class="layui-row layui-form-row-content">
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">车牌号:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.carNo" type="text" class="layui-input searchVal"
                                        readonly />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">车架号:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.vinNo" type="text" class="layui-input searchVal"
                                        readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input v-model="insuranceManage.carId" id="carId" value="" type="hidden" class="layui-input searchVal" />
            <div class="form-content-box" v-show="false">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    基础信息
                </div>
                <div class="details-layui-row">
                    <div class="layui-row layui-form-row-content">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label" style="font-weight: bold;color: #0a0a0a">车辆品牌/车系/车型：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                    v-model="insuranceManage.carBrandModelName" disabled />
                            </div>
                        </div>


                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label" style="font-weight: bold;color: #0a0a0a">车架号：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="insuranceManage.vinNo"
                                    disabled />
                            </div>
                        </div>

                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label" style="font-weight: bold;color: #0a0a0a">车牌号：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="insuranceManage.carNo"
                                    disabled />
                            </div>
                        </div>
                        <!-- <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">客户名称：</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="insuranceManage.customerName"
                                        disabled/>
                            </div>
                        </div>-->
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label" style="font-weight: bold;color: #0a0a0a">车辆状态：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="insuranceManage.carStatusStr"
                                    disabled />
                            </div>
                        </div>
                        <!-- <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">发车单号：</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="insuranceManage.departureNo"
                                        disabled/>
                            </div>
                        </div>-->
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label" style="font-weight: bold;color: #0a0a0a">车辆所属公司：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                    v-model="insuranceManage.carBelongCompanyName" disabled />
                            </div>
                        </div>
                        <!--<div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">租赁开始时间：</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="insuranceManage.timeStartRent"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">租赁结束时间：</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="insuranceManage.timeFinishRent"
                                        disabled/>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="form-content-box">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    <span class="fm-daoru-title">交强险</span>
                    <div class="details-layui-fr-sup-title" style="">
                        <span>到期时间：</span>
                        <span class="">{{insuranceManage.compulsoryEnTime}}&nbsp;&nbsp;&nbsp;</span>
                        <span>保单时效：</span>
                        <!--<span >{{prescription(1, insuranceManage.compulsoryEnTime)}}</span>-->
                        <span v-if="insuranceManage.jqPolicyPrescriptionDay == 1" class=""
                            style="color: red;font-size: 15px;">{{insuranceManage.jqPolicyPrescription}}</span>
                        <span v-if="insuranceManage.jqPolicyPrescriptionDay == 0" class=""
                            style="color: green;font-size: 15px;">{{insuranceManage.jqPolicyPrescription}}</span>
                    </div>
                </div>
                <div class="form-content-session-box">
                    <div class="card">
                        <div class="layui-row layui-form-row-content">
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">交强险保险公司:</label>
                                <div class="layui-input-inline">
                                    <select name="compulsoryCompanyId"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        lay-verify="compulsoryCompanyIdVerify"
                                        v-model="insuranceManage.compulsoryCompanyId" lay-filter="compulsoryCompanyId"
                                        class="layui-select">
                                        <option value="">请选择保险公司</option>
                                        <option v-for="r in compulsoryInsuranceList" :value="r.id">{{r.companyName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">交强险保单号:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.compulsoryNo"
                                        :readonly="viewTag != 'edit' && viewTag != 'reedit'" type="text"
                                        lay-verify="compulsoryNoVerify" class="layui-input searchVal"
                                        placeholder="请输入交强险保单号" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">交强险开始时间:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.compulsoryStartTime" type="hidden">
                                    <input v-model="insuranceManage.compulsoryStTime"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'" readonly
                                        id="compulsoryStartTime" lay-verify="compulsoryStartTimeVerify" type="text"
                                        class="layui-input searchVal" placeholder="请选择交强险开始时间" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">交强险结束时间:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.compulsoryEnTime"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'" readonly
                                        id="compulsoryEndTime" type="text" lay-verify="compulsoryEndTimeVerify"
                                        class="layui-input searchVal" placeholder="请选择交强险结束时间" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">交强险费用:</label>
                                <div class="layui-input-inline">
                                    <div style="width:100%;display: flex;align-items: center;">
                                        <input v-model="insuranceManage.compulsoryAmount"
                                            :readonly="viewTag != 'edit' && viewTag != 'reedit'" type="number"
                                            lay-verify="compulsoryAmountVerify" class="layui-input searchVal"
                                            placeholder="请填写交强险保单费用" style="width:70%" min="0"
                                               oninput="if(isNaN(value)) { value = null } if(value.indexOf('.')>0){value=value.slice(0,value.indexOf('.')+3)}"
                                            @change="compulsoryAmountChange" />
                                        <span>分</span>
                                        <input v-model="byStages" type="number" min="1" @change="byStagesChange"
                                            :readonly="viewTag != 'edit' && viewTag != 'reedit'"
                                            lay-verify="compulsoryAmountVerify" class="layui-input" style="width:20%" />
                                        <span>期</span>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">付款对象:</label>
                                <div class="layui-input-inline">
                                    <select name="compulsoryInsurancePayId"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        lay-verify="compulsoryInsurancePayIdVerify"
                                        v-model="insuranceManage.compulsoryInsurancePayId"
                                        lay-filter="compulsoryInsurancePayId" class="layui-select">
                                        <option value="">请选择付款对象</option>
                                        <option v-for="r in compulsoryInsurancePay" :value="r.code">{{r.value}}</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                <label class="layui-form-label">备注:</label>
                                <div class="layui-input-inline">
                                    <textarea v-model="insuranceManage.compulsoryRemark"
                                        :readonly="viewTag != 'edit' && viewTag != 'reedit'" placeholder="请输入交强险备注说明"
                                        class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="card">
                                <div class="layui-row layui-form-row-content bottom20">
                                    <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label">交强险保单照片:</label>
                                        <div class="layui-input-inline" id="jqxImages"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                <table id="compulsoryInsurance" lay-filter="test"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content-box">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    <span class="fm-daoru-title">承运险</span>
                    <div class="fr display ">
                        <div class="details-layui-fr-sup-title" style="">
                            <span>到期时间：</span>
                            <span class="">{{insuranceManage.carrierEnTime}}&nbsp;&nbsp;&nbsp;</span>
                            <span>保单时效：</span>
                            <span v-if="insuranceManage.cyPolicyPrescriptionDay == 1" class=""
                                style="color: red;font-size: 15px;">{{insuranceManage.cyPolicyPrescription}}</span>
                            <span v-if="insuranceManage.cyPolicyPrescriptionDay == 0" class=""
                                style="color: green;font-size: 15px;">{{insuranceManage.cyPolicyPrescription}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-content-session-box">
                    <div class="card">
                        <div class="layui-row layui-form-row-content">
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">承运险保险公司:</label>
                                <div class="layui-input-inline">
                                    <select name="carrierCompanyId" :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        lay-verify="carrierCompanyIdVerify" v-model="insuranceManage.carrierCompanyId"
                                        lay-filter="carrierCompanyId" class="layui-select">
                                        <option value="">请选择保险公司</option>
                                        <option v-for="r in compulsoryInsuranceList" :value="r.id">{{r.companyName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">承运险保单号:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.carrierNo"
                                        :readonly="viewTag != 'edit' && viewTag != 'reedit'" type="text"
                                        lay-verify="carrierNoVerify" class="layui-input searchVal"
                                        placeholder="请输入承运险保单号" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">承运险开始时间:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.carrierStartTime" type="hidden">
                                    <input v-model="insuranceManage.carrierStTime"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'" readonly
                                        id="carrierStartTime" lay-verify="carrierStartTimeVerify" type="text"
                                        class="layui-input searchVal" placeholder="请选择承运险开始时间" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">承运险结束时间:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.carrierEnTime"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'" readonly
                                        id="carrierEndTime" type="text" lay-verify="carrierEndTimeVerify"
                                        class="layui-input searchVal" placeholder="请选择承运险结束时间" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">承运险费用:</label>
                                <div class="layui-input-inline">
                                    <div style="width:100%;display: flex;align-items: center;">
                                        <input v-model="insuranceManage.carrierAmount"
                                            :readonly="viewTag != 'edit' && viewTag != 'reedit'" type="number"
                                            lay-verify="carrierAmountVerify" class="layui-input searchVal"
                                            placeholder="请填写承运险保单费用" style="width:70%" min="0"
                                               oninput="if(isNaN(value)) { value = null } if(value.indexOf('.')>0){value=value.slice(0,value.indexOf('.')+3)}"
                                            @change="compulsoryAmountChange1" />
                                        <span>分</span>
                                        <input v-model="byStages1" type="number" min="1" @change="byStagesChange1"
                                            lay-verify="compulsoryAmountVerify" class="layui-input" style="width:20%" />
                                        <span>期</span>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">付款对象:</label>
                                <div class="layui-input-inline">
                                    <select name="carrierInsurancePayId"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        lay-verify="carrierInsurancePayIdVerify"
                                        v-model="insuranceManage.carrierInsurancePayId"
                                        lay-filter="carrierInsurancePayId" class="layui-select">
                                        <option value="">请选择付款对象</option>
                                        <option v-for="r in compulsoryInsurancePay" :value="r.code">{{r.value}}</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                <label class="layui-form-label">备注:</label>
                                <div class="layui-input-inline">
                                    <textarea v-model="insuranceManage.carrierRemark"
                                        :readonly="viewTag != 'edit' && viewTag != 'reedit'" placeholder="请输入承运险备注说明"
                                        class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="card">
                                <div class="layui-row layui-form-row-content bottom20">
                                    <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label">承运险保单照片:</label>
                                        <div class="layui-input-inline" id="cyxImages"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                <table id="compulsoryInsurance1" lay-filter="test1"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-content-box">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    <span class="fm-daoru-title">商业险</span>
                    <div class="fr display ">
                        <div class="details-layui-fr-sup-title" style="">
                            <span>到期时间：</span>
                            <span>{{insuranceManage.commercialEnTime}}&nbsp;&nbsp;&nbsp;</span>
                            <span>保单时效：</span>
                            <!--  <span >{{insuranceManage.syPolicyPrescription}}</span>-->
                            <span v-if="insuranceManage.syPolicyPrescriptionDay == 1" class=""
                                style="color: red;font-size: 15px;">{{insuranceManage.syPolicyPrescription}}</span>
                            <span v-if="insuranceManage.syPolicyPrescriptionDay == 0" class=""
                                style="color: green;font-size: 15px;">{{insuranceManage.syPolicyPrescription}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-content-session-box">
                    <div class="card">
                        <div class="layui-row layui-form-row-content">
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">商业险保险公司:</label>
                                <div class="layui-input-inline">
                                    <select name="commercialCompanyId"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        v-model="insuranceManage.commercialCompanyId"
                                        lay-verify="commercialCompanyIdVerify" lay-filter="commercialCompanyId"
                                        class="layui-select">
                                        <option value="">请选择保险公司</option>
                                        <option v-for="r in commercialInsuranceList" :value="r.id">{{r.companyName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">商业险保单号:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.commercialNo"
                                        :readonly="viewTag != 'edit' && viewTag != 'reedit'" type="text"
                                        class="layui-input searchVal" lay-verify="commercialNoVerify"
                                        placeholder="请输入商业险保单号" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">商业险开始时间:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.commercialStartTime" type="hidden">
                                    <input v-model="insuranceManage.commercialStTime"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'" readonly
                                        id="commercialStartTime" type="text" class="layui-input searchVal"
                                        lay-verify="commercialStartTimeVerify" placeholder="请选择商业险开始时间" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">商业险结束时间:</label>
                                <div class="layui-input-inline">
                                    <input v-model="insuranceManage.commercialEnTime"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'" readonly
                                        id="commercialEndTime" type="text" class="layui-input searchVal"
                                        lay-verify="commercialEndTimeVerify" placeholder="请选择商业险结束时间" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">商业险总费用:</label>
                                <div class="layui-input-inline">
                                    <div style="width:100%;display: flex;align-items: center;">
                                        <input id="commercialAmount"
                                            :readonly="viewTag != 'edit' && viewTag != 'reedit'"
                                            v-model="insuranceManage.commercialAmount" type="number"
                                            class="layui-input searchVal" lay-verify="commercialAmountVerify"
                                               oninput="if(isNaN(value)) { value = null } if(value.indexOf('.')>0){value=value.slice(0,value.indexOf('.')+3)}"
                                               @change="compulsoryAmountChange2"
                                            placeholder="请选择商业险险种" style="width:70%" min="0" />
                                        <span>分</span>
                                        <input v-model="byStages2" type="number" min="1" @change="byStagesChange2"
                                            lay-verify="compulsoryAmountVerify" class="layui-input" style="width:20%" />
                                        <span>期</span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">付款对象:</label>
                                <div class="layui-input-inline">
                                    <select name="commercialInsurancePayId"
                                        :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        lay-verify="commercialInsurancePayIdVerify"
                                        v-model="insuranceManage.commercialInsurancePayId"
                                        lay-filter="commercialInsurancePayId" class="layui-select">
                                        <option value="">请选择付款对象</option>
                                        <option v-for="r in commercialInsurancePay" :value="r.code">{{r.value}}</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                <label class="layui-form-label">备注:</label>
                                <div class="layui-input-inline">
                                    <textarea :readonly="viewTag != 'edit' && viewTag != 'reedit'"
                                        v-model="insuranceManage.commercialRemark" placeholder="请输入商业险备注说明"
                                        class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="card">
                                <div class="layui-row layui-form-row-content bottom20">
                                    <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label">商业险保单照片:</label>
                                        <div class="layui-input-inline" id="syxImages"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12" style="display: flex;align-items: center">
                                <label class="layui-form-label">商业险种:</label>
                                <div class="layui-input-inline">
                                    <select name="insuranceTypeNo" :disabled="viewTag != 'edit' && viewTag != 'reedit'"
                                        v-model="insuranceManage.insuranceTypeNo" lay-verify="insuranceTypeNoVerify"
                                        lay-filter="selectInsuranceTypeNo" class="layui-select">
                                        <option value="">请选择险种</option>
                                        <option v-for="item in insuranceTypeList" :value="item.code">{{item.value}}
                                        </option>
                                    </select>
                                </div>
                                <div style="flex: 1;display: flex;margin-left: 10px">
                                    <a class="layui-btn search-btn" @click="addTo">添加</a>
                                </div>
                                <div >
                                    <div class="layui-input-inline">
                                        <label
                                            class="layui-form-label"><span>合计费用:￥{{insuranceManage.commercialAmount}}</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                <table id="compulsoryInsurance2" lay-filter="test2"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="insuranceTypeGrid" lay-filter="insuranceTypeGrid"></table>

            <!-- <table class="layui-hide" id="newinsuranceTypeGrid" lay-filter="newinsuranceTypeGrid" style="display:none;"></table>-->
            <div class="form-content-box" v-show="viewTag1 != 'edit'">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    车辆保险流程
                </div>
                <div class="car-details-info car-padding">
                    <div class="car-flowChart" id="bpmChart"></div>
                </div>
            </div>
            <div class="float-btn-group">
                <a class="layui-btn reset-btn" @click="cancel">取消</a>
                <button v-show="viewTag1 == 'edit' || viewTag1 == 'reedit'" class="layui-btn search-btn"
                    id="saveReceivables" lay-submit lay-filter="saveOrUpdate">确定</button>
                <a v-show="viewTag1 == 'approve'" class="layui-btn search-btn" @click="reject">审核驳回</a>
                <a v-show="viewTag1 == 'approve'" class="layui-btn search-btn" @click="approve">审核通过</a>
                <a v-show="viewTag1 == 'applyDetail' && instanceStatus == 6 && nodeType == 1"
                    class="layui-btn search-btn" @click="reedit">重新编辑</a>
            </div>
        </form>

        <form class="layui-form ren-form" v-show="boxShow" id="boxShow">
            <div class="details-conteiner">
                <div class="details-content-box">
                    <div class="form-content-session-box" :style="boxInputShow?'':'text-align: center;'">
                        <PRE>{{boxMark}}</PRE>
                        <br />
                        <div class="card" v-show="boxInputShow">
                            <textarea style="min-width: 400px;min-height: 90px;max-width: 400px;max-height: 120px"
                                type="text" v-model="boxTxt" autocomplete="off" :placeholder="boxHolder"
                                class="layui-input"></textarea>
                        </div>
                    </div>
                </div>
                <div class="details-content-box">
                    <div class="form-content-session-box">
                        <label class="layui-form-label">审批附件:</label>
                        <div class="layui-input-inline" id="addFile2"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <script type="text/html" id="barTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
     <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
    <script src="../../statics/js/modules/maintenance/insurancemanageedit.js"></script>
</body>

</html>
