<!DOCTYPE html>
<html>
<head>
    <title>选择审批人</title>
    <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/css/index.css">






    <style>
        .layui-form-radio {
            margin:0px 0px 0px 0px;
        }
    </style>
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <form class="layui-form ren-form">

        <div class="layui-form-item">
            <div class="layui-col-xs8">
                <div class="layui-input-block">
                    <label for="one" class="approveFlag" style="cursor: pointer;"><input type="radio" id="one" name="approveFlag" value="1" v-model="approveFlag" lay-filter="approveFlagSelect">上级(自动设置用户管理中的部门负责人为审批人)</label>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-xs8">
                <div class="layui-input-block">
                    <label for="two" class="approveFlag" style="cursor: pointer;"><input type="radio" id="two" name="approveFlag" value="2" v-model="approveFlag" lay-filter="approveFlagSelect">单个成员</label>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-xs8">
                <div class="layui-input-block">
                    <label for="three" class="approveFlag" style="cursor: pointer;"><input type="radio" id="three" name="approveFlag" value="3" v-model="approveFlag" lay-filter="approveFlagSelect">申请人</label>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-xs8">
                <label class="layui-form-label">指定级别</label>
                <div class="layui-input-block">
                    <select id="approveLevel" lay-search v-model="approveType.level" class="layui-select"  lay-filter="levelSelect">
                        <option value='1'>直接上级</option>
                        <option value='2'>第二级上级</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../../statics/js/modules/activiti/selectflag.js?_${.now?long}"></script>
</body>
</html>