<!DOCTYPE html>
<html>
<head>
<title></title>
<#include "/header.html">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>

    <!-- 查看表单 -->
    <form class="layui-form ren-form" style="margin-bottom: 60px;">
        <div class="details-tab-content">
            <div class="details-tab-content-box display">
                <div class="flex" v-for="(item, index) in detailsTabContentList" :key="index" :class="index === detailsTabContentListActiveIndex ? 'active1A51FF' : ''" @click="detailsTabContentBindtap(index)">
                    {{ item }}
                    <div>
                        <div :class="index === detailsTabContentListActiveIndex ? 'details-tab-content-box-absolute-bottom' : ''"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-conteiner">
            <div class="details-sub-tab-content" v-show="detailsTabContentListActiveIndex === 0">
                <div class="details-sub-tab-content-box display">
                    <div class="flex" v-for="(item, index) in detailsSupTabContentList" :key="index"
                         :class="index === detailsSupTabContentListActiveIndex ? 'active-linear-gradient' : ''"
                         @click="detailsSupTabContentBindtap(index, item)">
                        {{ item }}
                    </div>
                </div>
            </div>
                            <div class="details-content-box" v-show="detailsSupTabContentListActiveValue === '' || detailsSupTabContentListActiveValue === '基本信息' || detailsSupTabContentListActiveValue === ''">
                        <div class="left-before">
                            <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                                
                            </div>
                        </div>
                                                    <div class="details-layui-row">
                                <div class="layui-row layui-form-row-content">
                                                                                                                                                                                                    <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">应收单id:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.receivableId" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">应收单号:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.receivableNo" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">备注:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.remark" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">提交人id:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.operationId" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">提交人姓名:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.operationName" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">创建时间:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.timeCreate" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">更新时间:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.timeUpdate" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">删除状态（0未删除，1已删除）:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.delect" disabled/>
                                                </div>
                                            </div>
                                                                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                                <label class="layui-form-label">租户id:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" class="layui-input searchVal" :value="receivableRecheck.tenantId" disabled/>
                                                </div>
                                            </div>
                                                                                                            </div>
                            </div>
                        
                                        </div>
                            <div class="details-content-box" v-show="detailsSupTabContentListActiveValue === '' || detailsSupTabContentListActiveValue === '基本信息' || detailsSupTabContentListActiveValue === '操作记录'">
                        <div class="left-before">
                            <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                                操作记录
                            </div>
                        </div>
                        
                                                    <div class="details-layui-row">
                                <div class="table">
                                    <table class="layui-hide" id="operationlog" lay-filter="operationlog"></table>
                                </div>
                            </div>
                                        </div>
                    </div>
    </form>

    <div class="float-btn-group bottom-bar">
        <a class="layui-btn reset-btn" id="closePage">关闭</a>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/financial/receivablerecheckview.js?_${.now?long}"></script>
</body>
</html>
