<!DOCTYPE html>
<html>
<head>
    <title>应退单详情</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
    <link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
    <script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
    <script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
    <script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/common.js"></script>
    <script type="text/javascript" src="../../statics/js/upload.js"></script>
    <script type="text/javascript" src="../../statics/common/step/steps.js"></script>
    <link rel="stylesheet" href="../../statics/css/jxcPublicAll.css" media="all">
    <link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../statics/common/step/steps.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
    <link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
    <script src="../../statics/js/modules/cropper/cropper.min.js"></script>
    <script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
    <script src="../../statics/common/layui/autocomplete.js"></script>
    <script src="../../statics/js/modules/viewer/viewer.min.js"></script>
    <script src="../../statics/common/print-js/print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
    <script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/searchview.js"></script>
    <script type="text/javascript" src="../../statics/js/tableedit.js"></script>

    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

    <!-- 引入组件库 -->
    <link rel="stylesheet" type="text/css" href="../../statics/css/index.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/common-new.css">


</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <!--查看 -->
    <div class="details-tab-content">
        <div class="details-tab-content-box display">

            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li :class="0==index?'layui-this':''" @click="detailsTabContentBindtap(index)"
                        v-for="(item, index) in detailsTabContentList" :key="index">{{ item }}
                    </li>
                </ul>
            </div>

            <!--            <div-->
            <!--                    class="flex"-->
            <!--                    v-for="(item, index) in detailsTabContentList"-->
            <!--                    :key="index"-->
            <!--                    :class="index === detailsTabContentListActiveIndex ? 'active1A51FF' : ''"-->
            <!--                    @click="detailsTabContentBindtap(index)">-->
            <!--                {{ item }}-->
            <!--                <div>-->
            <!--                    <div :class="index === detailsTabContentListActiveIndex ? 'details-tab-content-box-absolute-bottom' : ''"></div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>

    <div class="details-conteiner">
        <!-- 详情 -->
        <div class="details-content-box"
             v-show="detailsSupTabContentListActiveValue === '详情'">
            <div class="left-before">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    {{detailName}}
                    <div class="fr display ">
                        <div class="details-layui-fr-sup-title">
                            <span>状态：</span>
                            <span>{{refundStatusName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <form class="layui-form">
                <div class="details-layui-row">
                    <div class="layui-row layui-form-row-content">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">合同编号:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.contractNo"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">车辆订单号:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.vehicleOrderNo"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">应退方名称:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.settlePersonName"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">售卖方名称:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.lessor"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">租赁类型:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        :value="getRentTypeStr(list.leaseType)"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">付款方式:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.paymentMethod"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">付款日:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.paymentDay"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">车辆品牌/车系:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.brand"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">车型:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.carModel"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">车牌号:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.carNo"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">车架号:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.vinNo"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">随身物品:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.accessoryItems"
                                        disabled/>
                            </div>
                        </div>
                        <div v-show="list.leaseType == '经租' || list.leaseType == '展车' || list.leaseType == '试驾车' "
                             class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">保证金:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.cashDeposit"
                                        disabled/>
                            </div>
                        </div>
                        <div v-show="list.leaseType == '以租代购' "
                             class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">整备费:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.downPayment"
                                        disabled/>
                            </div>
                        </div>
                        <div v-show="list.leaseType == '融租' "
                             class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">首付款:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.downPayment"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">{{list.leaseType == 7 ? '挂靠费' : '租金'}}:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.monthlyRent"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">租赁开始时间:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.timeStartRent"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">租赁结束时间:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.timeFinishRent"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">退款类型:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.refundTypeShow"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label">退车时间:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="list.timeApply"
                                        disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="left-before margintop30">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    退车结算费用明细
                    <div class="fr display ">
                        <div class="details-layui-fr-sup-title">
                            <span style="color: red">实际应退结算金额：</span>
                            <span style="color: red">{{list.settleMoney}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <form class="layui-form">
                <div class="details-layui-row">
                    <div class="layui-row layui-form-row-content">
                        <!--v-if="list.settleType != 3" -->
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4"
                             v-for="(item,i) in list.feeItemEntities">
                            <label class="layui-form-label">{{list.leaseType == 7 && item.feeItemCode == 'ZJQKF' ? '车辆挂靠费欠款金额/元' : item.feeItemName}}:</label>
                            <div v-if="item.valueType == 1" class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="item.feeItemAmount"
                                        disabled/>
                            </div>
                            <div v-if="item.valueType == 2" class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        v-model="item.feeItemValue"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label" style="color: red !important;">应退日期:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        style="color: red"
                                        v-model="list.refundTime"
                                        disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6 layui-col-lg4">
                            <label class="layui-form-label" style="color: red !important;">实际退款处理日期:</label>
                            <div class="layui-input-inline">
                                <input
                                        type="text"
                                        class="layui-input searchVal"
                                        style="color: red"
                                        v-model="list.actualTime"
                                        disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="left-before margintop30" v-show="refundStatus">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    已退账款
                </div>
            </div>

            <form class="layui-form" v-show="refundStatus">
                <div class="details-layui-row">
                    <div class="layui-row layui-form-row-content">
                        <table class="layui-hide" id="log" lay-filter="log"></table>
                    </div>
                </div>
            </form>
        </div>

        <!-- 操作记录 -->
        <div class="details-content-box"
             v-show="detailsSupTabContentListActiveValue === '操作记录'">
            <div class="left-before">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    操作记录
                </div>
            </div>
            <div class="details-layui-row">
                <div class="table">
                    <table class="layui-hide" id="operationRecord"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barTpl">
    <a class="layui-grid-btn-xs" lay-event="show">查看</a>
</script>
<script src="../../statics/js/modules/financial/shouldRefundDetail.js"></script>
</body>
</html>
