<!DOCTYPE html>
<html>
<head>
    <title>代扣卡列表</title>
    <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/list-search-table.css">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/new_css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/viewer.min.css">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/new_css/index.css">






    <style>
        .layui-table-cell {
            padding: 0 5px;
            height: inherit;
            overflow: visible;
            text-overflow: inherit;
            white-space: normal;
            word-break: break-all;
        }
    </style>
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <div class="mvvm-table">
    <div class="list-search-title-box">
        <form class="layui-form" style="box-shadow: 0 0 20px #eee;padding-right: 15px;">
            <section class="jxc-section" style="display: flex;align-items: flex-start;white-space: nowrap;">
                <div class="card layui-row" style="flex: 1">
                    <div class="layui-form-item">
                        <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">签约订单号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="q.signOrderNo"
                                       placeholder="请输入"/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">车辆订单号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="q.orderCarNo"
                                       placeholder="请输入"/>
                            </div>
                        </div>

                        <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">业务员</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="q.operationName"
                                       placeholder="请输入"/>
                            </div>
                        </div>
                        <section v-show="isFilter">
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">签约状态</label>
                                <div class="layui-input-inline">
                                    <select lay-filter="signStatus" v-model="q.signStatus">
                                        <option value="">请选择</option>
                                        <option value="0">签约成功</option>
                                        <option value="1">已解约</option>
                                        </option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">客户名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.customerName"
                                           placeholder="请输入"/>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">业务类型</label>
                                <div class="layui-input-inline">
                                    <select lay-filter="rentType" v-model="q.rentType">
                                        <option value="">请选择</option>
                                        <option v-for="val in orderRentTypeMap" :value="getObjKey(orderRentTypeMap, val)">{{val}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">签约时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="q_startTime" readonly class="layui-input searchVal"
                                           v-model="q.signEndTimeStr" placeholder="下单时间" style="width: 100% "/>
                                </div>
                            </div>

                        </section>
                        <div :class="isFilter?'layui-col-md3':'layui-col-md3'"
                            class="layui-inline layui-col-sm12 layui-col-xs12 flex-end">
                            <label class="layui-form-label"> </label>
                            <div class="df-color" style="display: flex;align-items: center;">
                                <a class="layui-btn search-btn" @click="query">查询</a>
                                <a class="layui-btn reset-btn" @click="reset">重置</a>
                                <div @click="bindFilter"
                                    style="margin-left: 10px;cursor: pointer;user-select: none;">
                                    <span>高级筛选</span>
                                    <img src="../../../statics/images/gjsx2x.png" style="width:14px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </form>
    </div>
    <div class="list-search-title-box">
        <form class="layui-form">
            <div style="display:flex;width: 100%;">
                <div class="layui-form-item layui-row" style="width: 100%;">
                    <div class="list-search-form-button" style="width: 100%;">
                        <!--除查询重置外其余按钮-->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="list-table-content-box">
        <table class="layui-hide" id="grid" lay-filter="grid"></table>
    </div>
</div>
    <div v-show="editForm" class="layui-form ren-form" id="editForm">
        <div class="jxc-detail layui-form ren-form">
            <div class="column layui-col-xs6">
                <label class="layui-form-label">解绑原因:</label>
                <div class="layui-input-inline">
                    <textarea type="text"
                              autocomplete="off"
                              placeholder="解绑原因" v-model="unsignReason"
                              class="layui-textarea layui-col-xs6" ></textarea>
                </div>
            </div>
        </div>
    </div>

</div>



<!--操作-->
<script type="text/html" id="barTpl">
    <div style="min-width: 100px;">
    <a class="layui-grid-btn-xs" lay-event="view" v-m-perm="['daikou:orderdaikou:info']" more-btn-index="{{d.LAY_INDEX-1}}">详情</a>   
    {{#  if (d.signStatus ==0 ){  }}
    <a class="layui-grid-btn-xs" lay-event="unbind" v-m-perm="['daikou:orderdaikou:unbind']" more-btn-index="{{d.LAY_INDEX-1}}">解绑</a>
    {{# } }}
    </div>

</script>

<script src="../../statics/js/modules/daikou/orderDaikouList.js?_${.now?long}"></script>
</body>
</html>
