<!DOCTYPE html>
<html>
<head>
    <title>代扣卡详情</title>
    <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/css/index.css">






</head>
<body class="ren-body">
<div id="rrapp" v-cloak>

    <!-- 查看表单 -->
    <form class="layui-form ren-form" style="margin-bottom: 60px;">
        <div class="details-conteiner">
            <div class="details-content-box">
                <div class="left-before">
                    <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                        签约客户信息
                    </div>
                </div>
                <div class="details-layui-row">
                    <div class="layui-row layui-form-row-content">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">签约订单编号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.signOrderNo|| '--'" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">签约订单类型:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                      v-model="getSignType" disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">订单编号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.orderNo || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">车辆订单编号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.orderCarNo || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">客户名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.customerName|| '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">手机号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" :value="orderDaiKouEntity.mobile|| '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">身份证号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" :value="orderDaiKouEntity.cardNo|| '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">资料照片:</label>
                            <div class="layui-input-inline">
                                <div class="layui-input-inline-upload">
                                    <div  class="layui-input-inline-upload-show box-rect" v-for="(item,index) in orderDaiKouEntity.photos">
                                        <div class="layui-input-inline-upload-button">
                                            <img :src="imageURL + item" class="view-img">
                                        </div>
                                        <div style="width: 100%"
                                             class="layui-input-inline-upload-show-delete btn-event" @click="showDoc(item)">
                                            预览
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-before">
                    <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                        签约订单
                        <div class="fr display ">
                            <div class="details-layui-fr-sup-title">
                                <span>签约状态：</span>
                                <span class="description">{{orderDaiKouEntity.signStatusStr}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="details-layui-row">
                    <div class="layui-row layui-form-row-content">
<!--                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">-->
<!--                            <label class="layui-form-label">签约状态:</label>-->
<!--                            <div class="layui-input-inline">-->
<!--                                <input type="text" class="layui-input searchVal"-->
<!--                                       v-model="getSignStatus" disabled/>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">合同编号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.concertNo || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">申请签约时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.signBeginTime || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">签约完成时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.signEndTime || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">签约扣款金额/元:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.signAmount || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">期数:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.tenmcy || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">解约情况:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.unsignReason || '--' " disabled/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">解约完成时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal"
                                       :value="orderDaiKouEntity.unsignTime || '--' " disabled/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-before">
                    <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                        扣款订单信息
                    </div>
                </div>
                <div class="list-table-content-box">
                    <table class="layui-hide" id="grid" lay-filter="grid"></table>
                </div>

            </div>

        </div>
    </form>
    <div class="float-btn-group bottom-bar">
        <a class="layui-btn reset-btn" id="closePage">关闭</a>
    </div>
</div>


<script src="../../statics/js/modules/daikou/orderDaiKouView.js?_${.now?long}"></script>
</body>
</html>
