<!DOCTYPE html>
<html>
<head>
    <title>申请退换车页面</title>
    <link rel="stylesheet" type="text/css" href="../../statics/css/public/header.css">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
    <link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
    <script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
    <script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
    <script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/common.js"></script>
    <script type="text/javascript" src="../../statics/js/upload.js"></script>
    <script type="text/javascript" src="../../statics/common/step/steps.js"></script>
    <link rel="stylesheet" href="../../statics/css/jxcPublicAll.css" media="all">
    <link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../statics/common/step/steps.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
    <link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
    <script src="../../statics/js/modules/cropper/cropper.min.js"></script>
    <script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
    <script src="../../statics/common/layui/autocomplete.js"></script>
    <script src="../../statics/js/modules/viewer/viewer.min.js"></script>
    <script src="../../statics/common/print-js/print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
    <script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/searchview.js"></script>
    <script type="text/javascript" src="../../statics/js/tableedit.js"></script>

    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

    <!-- 引入组件库 -->
    <link rel="stylesheet" type="text/css" href="../../statics/css/index.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/new-edit.css">

    <style>
        .layui-bg-black{
            background-color: #eee !important;
        }
    </style>

</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <form class="layui-form ren-form">
        <div class="form-content-box">
            <!--<div class="list-search-sup-title new-layui-title border-bottom-dashed">-->
            <!--{{title}}-->
            <!--</div>-->
            <div class="form-content-session-box">
                <div class="card">
                    <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                        订单基本信息
                    </div>
                    <div class="layui-row layui-form-row-content">
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">订单类型:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       :value="getRentTypeStr(applyForDTO.rentType)"
                                       placeholder="订单类型" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">订单号:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.code || '-'"
                                       placeholder="订单编号" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">客户名称:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.customerName || '-'"
                                       placeholder="客户名称" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">联系电话:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.customerTel || '-'"
                                       placeholder="联系电话" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">联系人:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.contactPerson || '-'"
                                       placeholder="联系人" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">出租方:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.lessorName || '-'"
                                       placeholder="出租方" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">租赁开始时间:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.timeStartRent || '-'"
                                       placeholder="租赁开始时间" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">租赁结束时间:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.timeFinishRent || '-'"
                                       placeholder="租赁结束时间" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">车架号:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.vinNo || '-'"
                                       placeholder="车架号" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">车牌号:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.carNo || '-'"
                                       placeholder="车牌号" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">车辆品牌/车系/车型:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.carBrandModel || '-'"
                                       placeholder="车辆品牌/车系/车型" style="border:0px;" disabled>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">车辆归属:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.deptName || '-'"
                                       placeholder="车辆归属" style="border:0px;" disabled>
                            </div>
                        </div>

                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">提车时间:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.timeDeliveryShow || '-'"
                                       placeholder="提车时间" style="border:0px;" >
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label">发动机号:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       v-model="applyForDTO.engineNo || '-'"
                                       placeholder="发动机号" style="border:0px;" >
                            </div>
                        </div>

                        <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                            <div v-show="settleType==1">
                                <label>换车信息</label>
                            </div>
                            <div v-show="settleType==2">
                                <label>退车信息</label>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label"><span style="color: red">*</span>{{dateLabel}}:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       id="date"
                                       lay-verify="required"
                                       readonly="readonly"
                                       placeholder="请选择时间">
                            </div>
                        </div>
                        <div id="typeDiv" class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label"><span style="color: red">*</span>退车类别:</label>
                            <div class="layui-input-inline">
                                <select id="type" name="type" lay-filter="type">
                                    <option value="">请选择退车类别</option>
                                    <option value=1>租赁到期</option>
                                    <option value=2>违约退车</option>
                                    <option value=3>强制收车</option>
                                    <option value=4>其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                            <div v-show="settleType==1">
                                <label class="layui-form-label">换车原因:</label>
                            </div>
                            <div v-show="settleType==2">
                                <label class="layui-form-label">退车原因:</label>
                            </div>
                            <div class="layui-input-inline">
                                <textarea name="desc" v-model="applyForDTO.alterationDesc" placeholder="请输入原因......"
                                          class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <div v-show="settleType==1">
                                <label class="layui-form-label"><span style="color: red">*</span>换车里程数/km:</label>
                            </div>
                            <div v-show="settleType==2">
                                <label class="layui-form-label"><span style="color: red">*</span>退车里程数/km:</label>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       lay-verify="required"
                                       oninput="sumOdographInput(this)"
                                       v-model="applyForDTO.alterationMileage"
                                       @keyup="inputAlterationMileage"
                                       placeholder="请输入里程数">
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label"><span style="color: red">*</span>退回仓库</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="applyForDTO.depotName"
                                       lay-verify="required"
                                       @click="chooseWarehouse" style="cursor:pointer;" readonly placeholder="请选择退回仓库"/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                            <label class="layui-form-label"><span style="color: red">*</span>退款/收款时间:</label>
                            <div class="layui-input-inline">
                                <input type="text"
                                       class="layui-input"
                                       id="refundDate"
                                       lay-verify="required"
                                       readonly="readonly"
                                       placeholder="请选择时间">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-content-box" :sid="settleBodyId">
            <div class="list-search-sup-title new-layui-title border-bottom-dashed" style="display: flex;align-items: center;justify-content: space-between">
                <div v-show="settleType==1">
                    <label>换车结算信息</label>
                </div>
                <div v-show="settleType==2">
                    <label>退车结算信息</label>
                </div>
                <div class="fr display ">
                    <div v-show="applyForDTO.repayType == 0" class="details-layui-fr-sup-title">
                        <span class="xz-header-title__text" style="color: red;">需要客户补缴金额/元：</span>
                        <span class="description">{{settleAmount}}</span>
                    </div>
                    <div v-show="applyForDTO.repayType == 1" class="details-layui-fr-sup-title">
                        <span class="xz-header-title__text" style="color: red;">需要退还客户金额/元：</span>
                        <span class="description">{{settleAmount}}</span>
                    </div>
                </div>
            </div>
            <div class="form-content-session-box" style="padding-bottom: 20px">
                <div class="card" id="serviceConfig" style="padding-top: 30px;"></div>
                <div class="card" style="margin: 20px 30px 0 0">
                        <label class="layui-form-label">结算附件:</label>
                        <div class="layui-input-inline">
                            <div class="layui-input-inline-upload">
                                <div :id="deliveryFileLstId" class="layui-input-inline-upload-show box-rect"
                                     v-for="(item,index) in deliveryFileLst">
                                    <div v-show="item.typeFile == 1" class="layui-input-inline-upload-button">
                                        <img :src="imageURL + item.url" class="view-img">
                                    </div>
                                    <div v-show="item.typeFile != 1" class="layui-input-inline-upload-button">
                                        {{item.nameAccessory}}
                                    </div>
                                    <div class="layui-input-inline-upload-show-delete btn-event"
                                         style="width: 49%;"
                                         @click="delDeliveryFile(item.id)">
                                        删除
                                    </div>
                                    <div v-show="item.typeFile != 1"
                                         style="width: 49%;left: 51%"
                                         class="layui-input-inline-upload-show-delete btn-event"
                                         @click="downDoc(item.nameFile, item.url)">
                                        下载
                                    </div>
                                    <div v-show="item.typeFile == 1"
                                         style="width: 49%;left: 51%"
                                         class="layui-input-inline-upload-show-delete btn-event"
                                         @click="showDoc(item.nameAccessory, item.url)">
                                        预览
                                    </div>
                                </div>
                                <div class="layui-input-inline-upload-button box-rect box-rect-event"
                                     id="addDeliveryFile">
                                    <img src="../../statics/images/inline-upload@2x.png">
                                </div>
                            </div>
                            <div class="layui-input-inline-upload-text" style="padding-bottom: 10px">附件说明：附件最大支持50M，
                                <br/>
                                支持格式：PDF、Word、Excel、JPG、PNG 、ZIP、RAR、MP4
                            </div>
                        </div>
                </div>
            </div>
        </div>
<!--        <div class="form-content-box">-->
<!--            <div class="form-content-session-box">-->
                <div class="float-btn-group">
                    <a class="layui-btn reset-btn" @click="cancel">取消</a>
                    <a class="layui-btn search-btn" lay-submit lay-filter="submitEditData">保存</a>
                </div>
<!--            </div>-->
<!--        </div>-->
    </form>
</div>
<script src="../../statics/js/modules/order/applyFor.js?_${.now?long}"></script>
</body>
</html>
