<!DOCTYPE html>
<html>

<head>
    <title>车辆来源订单表</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
    <link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../../statics/new_css/common.css">
    <link rel="stylesheet" type="text/css" href="../../statics/new_css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/new_css/list-search-table.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
    <script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
    <script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
    <script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/common.js"></script>
    <script type="text/javascript" src="../../statics/js/upload.js"></script>
    <script type="text/javascript" src="../../statics/common/step/steps.js"></script>
    <link rel="stylesheet" href="../../statics/new_css/jxcPublicAll.css" media="all">
    <link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../statics/common/step/steps.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
    <link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/new_css/viewer.min.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
    <script src="../../statics/js/modules/cropper/cropper.min.js"></script>
    <script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
    <script src="../../statics/common/layui/autocomplete.js"></script>
    <script src="../../statics/js/modules/viewer/viewer.min.js"></script>
    <script src="../../statics/common/print-js/print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
    <script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/searchview.js"></script>
    <script type="text/javascript" src="../../statics/js/tableedit.js"></script>
    <!-- 引入组件库 -->
    <link rel="stylesheet" type="text/css" href="../../statics/new_css/index.css">
     <!-- Import style -->
     <link rel="stylesheet" href="../../statics/js/element-plus/index.css" />
    <style>
        #ss1 {
            width: 100px !important;
        }

        #ss2 {
            width: 100px !important;
        }

        #ss3 {
            width: 100px !important;
        }

        #ss4 {
            width: 100px !important;
        }

        .layui-form .jxc-section {
            position: relative;
        }

        .layui-form .jxc-section>div:nth-of-type(2) {
            position: absolute;
            right: 0;
            bottom: 15px;
        }

        .layui-form .jxc-section>div:nth-of-type(2) span {
            color: #3FACB3 !important;
        }

        .layui-form .jxc-section>div:nth-of-type(2) img {
            width: 16px !important;
            vertical-align: text-top;
        }

        .layui-form .jxc-section .layui-col-md4 {
            width: 25%;
        }

        .list-search-title-box {
            padding: 0;
        }

        #searchId .list-search-title-box:nth-child(2) {
            margin-top: 16px;
        }

        table tr td .layui-table-cell span {
            color: #3FACB3 !important;
        }

        .layui-form-label {
            min-width: 120px !important;
        }
    </style>

</head>

<body class="ren-body">
    <div id="rrapp" v-cloak>
        <div class="mvvm-table">
            <div class="list-search-title-box">
                <form class="layui-form" style="box-shadow: 0 0 20px #eee;padding-right: 15px;">
                    <section class="jxc-section" style="display: flex;align-items: flex-start;white-space: nowrap;">
                        <div class="card layui-row" style="flex: 1">
                            <div class="layui-form-item ">
                                <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                    <label class="layui-form-label">车牌号/车架号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input searchVal" v-model="q.carNo"
                                            placeholder="请输入" />
                                    </div>
                                </div>
                                <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                    <label class="layui-form-label">车辆归属</label>
                                    <div class="layui-input-inline">
                                        <input v-model="q.warehousingDept" type="text" style="cursor:pointer;"
                                            @click="deptTree" readonly="readonly" class="layui-input searchVal"
                                            placeholder="请选择" />
                                    </div>
                                </div>
                                <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                    <label class="layui-form-label">品牌/车系/车型</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="a" class="layui-input" placeholder="请选择"
                                            readonly="readonly" />
                                    </div>
                                </div>

                                <section v-show="isFilter">
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">供应商</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input searchVal" v-model="q.supplierName"
                                                placeholder="请输入" />
                                        </div>
                                    </div>
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">车辆来源合同</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input searchVal" v-model="q.contractNo"
                                                placeholder="请输入" />
                                        </div>
                                    </div>
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">车辆来源类型</label>
                                        <div class="layui-input-inline">
                                            <select v-model="q.carSourceType" lay-filter="carSourceTypeSelect"
                                                class="layui-select">
                                                <option value="">请选择</option>
                                                <option value="1">经租</option>
                                                <option value="2">直购</option>
                                                <option value="3">以租代购</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">车辆状态</label>
                                        <div class="layui-input-inline">
                                            <select name="carStatus" v-model="q.carStatus" class="layui-select"
                                                lay-filter="carStatusSelect">
                                                <!-- 车辆状态(当前状态 1整备中，2备发车，3 预定中  4.用车中 5.已过户 6、已处置 7、已出售)-->
                                                <option value="">请选择</option>
                                                <option value="1">整备中</option>
                                                <option value="2">备发车</option>
                                                <option value="3">预定中</option>
                                                <option value="4">用车中</option>
                                                <option value="5">已过户</option>
                                                <option value="6">已处置</option>
                                                <option value="7">已出售</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">租赁类型</label>
                                        <div class="layui-input-inline">
                                            <select name="rentType" lay-filter="rentType" v-model="q.rentType">
                                                <option value="">全部</option>
                                                <option v-for="val in orderRentTypeMap" :value="getObjKey(orderRentTypeMap, val)">{{val}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">订单编号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input searchVal" v-model="q.orderNo"
                                                placeholder="请输入" />
                                        </div>
                                    </div>
                                    <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                        <label class="layui-form-label">客户名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" class="layui-input searchVal" v-model="q.customerName"
                                                placeholder="请输入" />
                                        </div>
                                    </div>
                                    <div class="flex-box layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label" id="ss1">车源租赁开始时间</label>
                                        <div class="list-search-sup-title new-layui-title">
                                            <div class="task-content-box-tab">
                                                <div class="display task-content-box-tab layui-col-md8 layui-col-sm8 layui-col-xs12"
                                                    type="rentStartDateType">
                                                    <div value="0" class="layui-col-md2 layui-col-sm2 layui-col-xs2">昨天
                                                    </div>
                                                    <div value="1" class="layui-col-md2 layui-col-sm2 layui-col-xs2">今日
                                                    </div>
                                                    <div value="2" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上周
                                                    </div>
                                                    <div value="3" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本周
                                                    </div>
                                                    <div value="4" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上月
                                                    </div>
                                                    <div value="5" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本月
                                                    </div>
                                                    <div value="6" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本季
                                                    </div>
                                                    <div value="7" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本年
                                                    </div>
                                                </div>
                                                <div class="layui-col-md4 layui-col-sm4 layui-col-xs12">
                                                    <input type="text" class="layui-input" id="rentStartDateSearch"
                                                        v-model="q.rentStartDateSearch" readonly placeholder="选择日期范围"
                                                        style="width: 300px;" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-box layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label" id="ss2">车源租赁结束时间</label>
                                        <div class="list-search-sup-title new-layui-title">
                                            <div class="task-content-box-tab">
                                                <div class="display task-content-box-tab layui-col-md8 layui-col-sm8 layui-col-xs12"
                                                    type="rentEndDateType">
                                                    <div value="0" class="layui-col-md2 layui-col-sm2 layui-col-xs2">昨天
                                                    </div>
                                                    <div value="1" class="layui-col-md2 layui-col-sm2 layui-col-xs2">今日
                                                    </div>
                                                    <div value="2" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上周
                                                    </div>
                                                    <div value="3" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本周
                                                    </div>
                                                    <div value="4" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上月
                                                    </div>
                                                    <div value="5" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本月
                                                    </div>
                                                    <div value="6" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本季
                                                    </div>
                                                    <div value="7" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本年
                                                    </div>
                                                </div>
                                                <div class="layui-col-md4 layui-col-sm4 layui-col-xs12">
                                                    <input type="text" class="layui-input" id="rentEndDateSearch"
                                                        v-model="q.rentEndDateSearch" readonly placeholder="选择日期范围"
                                                        style="width: 300px;" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-box layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label" id="ss3">订单租赁开始时间</label>
                                        <div class="list-search-sup-title new-layui-title">
                                            <div class="task-content-box-tab">
                                                <div class="display task-content-box-tab layui-col-md8 layui-col-sm8 layui-col-xs12"
                                                    type="rentStartTimeType">
                                                    <div value="0" class="layui-col-md2 layui-col-sm2 layui-col-xs2">昨天
                                                    </div>
                                                    <div value="1" class="layui-col-md2 layui-col-sm2 layui-col-xs2">今日
                                                    </div>
                                                    <div value="2" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上周
                                                    </div>
                                                    <div value="3" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本周
                                                    </div>
                                                    <div value="4" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上月
                                                    </div>
                                                    <div value="5" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本月
                                                    </div>
                                                    <div value="6" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本季
                                                    </div>
                                                    <div value="7" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本年
                                                    </div>
                                                </div>
                                                <div class="layui-col-md4 layui-col-sm4 layui-col-xs12">
                                                    <input type="text" class="layui-input" id="rentStartTimeSearch"
                                                        v-model="q.rentStartTimeSearch" readonly placeholder="选择日期范围"
                                                        style="width: 300px;" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-box layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                                        <label class="layui-form-label" id="ss4">订单租赁结束时间</label>
                                        <div class="list-search-sup-title new-layui-title">
                                            <div class="task-content-box-tab">
                                                <div class="display task-content-box-tab layui-col-md8 layui-col-sm8 layui-col-xs12"
                                                    type="rentEndTimeType">
                                                    <div value="0" class="layui-col-md2 layui-col-sm2 layui-col-xs2">昨天
                                                    </div>
                                                    <div value="1" class="layui-col-md2 layui-col-sm2 layui-col-xs2">今日
                                                    </div>
                                                    <div value="2" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上周
                                                    </div>
                                                    <div value="3" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本周
                                                    </div>
                                                    <div value="4" class="layui-col-md2 layui-col-sm2 layui-col-xs2">上月
                                                    </div>
                                                    <div value="5" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本月
                                                    </div>
                                                    <div value="6" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本季
                                                    </div>
                                                    <div value="7" class="layui-col-md2 layui-col-sm2 layui-col-xs2">本年
                                                    </div>
                                                </div>
                                                <div class="layui-col-md4 layui-col-sm4 layui-col-xs12">
                                                    <input type="text" class="layui-input" id="rentEndTimeSearch"
                                                        v-model="q.rentEndTimeSearch" readonly placeholder="选择日期范围"
                                                        style="width: 300px;" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div style="display: flex;align-items: center;">
                            <a class="layui-btn search-btn" @click="query">查询</a>
                            <a class="layui-btn reset-btn" @click="reset">重置</a>
                            <div @click="bindFilter" style="margin-left: 10px;cursor: pointer;user-select: none;">
                                <span style="color: #3FACB3;">高级筛选</span>
                                <img src="../../../statics/images/gjsx2x.png" style="width:14px">
                            </div>
                        </div>
                    </section>
                </form>
            </div>
            <div class="list-search-title-box ground-search-btn">
                <form class="layui-form">
                    <div style="display:flex;width: 100%;">
                        <div class="layui-form-item layui-row" style="width: 100%;">
                            <div class="list-search-form-button" style="width: 100%;">
                                <a class="layui-btn btn-primary" @click="add"
                                    v-m-perm="['pay:carsourceorder:save']">新增</a>
                                <a class="layui-btn btn-warning" @click="exports"
                                    v-m-perm="['pay:carsourceorder:export']">导出</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="list-table-content-box">
                <table class="layui-hide" id="grid" lay-filter="grid"></table>
            </div>
        </div>
    </div>
    <style>
        .mmv-dropdonw {
            display: block;
        }
        .mmv-dropdonw .dropdonw-item{
            padding:0px 12px;
            display:block;
        }
        .mmv-dropdonw .mmv-dropdonw-wrap {
            display: none;
            position: fixed;
            z-index: 100;
            box-shadow: 0 0 5px #ddd;
            background:#fff;
        }

        .mmv-dropdonw .mmv-dropdonw-wrap .mmv-drop-donw-item {
            background-color: #fff;
            padding: 0 10px;
        }

        .layui-table-cell,
        .layui-table-tool-panel li {
            overflow: initial !important;
        }
    </style>
    <!--操作-->
    <script type="text/html" id="barTpl">
        <div style="min-width:100px;">
            <div class="mmv-dropdonw">
                {{# var hasDropdownItems = false; }}
                {{# if(d.carSourceType === 3) { }}
                {{# if(d.carSourceStatus === 0) { }}
                {{# hasDropdownItems = true; }}
                {{# } }}
                {{# } }}
                {{# if(d.carSourceType === 1 || d.carSourceType === 2) { }}
                {{# if(d.carSourceStatus === 0) { }}
                {{# hasDropdownItems = true; }}
                {{# } }}
                {{# } }}
                <a class="layui-grid-btn-xs" lay-event="view" v-m-perm="['pay:carsourceorder:info']" more-btn-index="{{d.LAY_INDEX-1}}">查看</a>
                {{# if(hasDropdownItems) { }}
                    <a class="mmv-dropdonw-btn layui-grid-btn-xs" style="margin-right:0px;" lay-event="mmvMore">更多<i class="el-icon-d-arrow-right"></i></a>
                {{# } }}
                <div class="mmv-dropdonw-wrap">
                    <div class="mmv-drop-donw-item">
                    </div>
                    {{#if(d.carSourceType === 3){}}
                        {{#if(d.carSourceStatus === 0){}}
                            <a class="layui-grid-btn-xs dropdonw-item" lay-event="edit" v-m-perm="['pay:carsourceorder:update']" more-btn-index="{{d.LAY_INDEX-1}}">编辑</a>
                            <a class="layui-grid-btn-xs dropdonw-item" lay-event="settlement" v-m-perm="['pay:carsourceorder:settlement']" more-btn-index="{{d.LAY_INDEX-1}}">退车结算</a>
                            <a class="layui-grid-btn-xs dropdonw-item" lay-event="transfer" v-m-perm="['pay:carsourceorder:transfer']" more-btn-index="{{d.LAY_INDEX-1}}">过户结算</a>
                        {{#}}}
                    {{#}}}
                    {{#if(d.carSourceType === 1 || d.carSourceType === 2){}}
                        {{#if(d.carSourceStatus === 0){}}
                            <a class="layui-grid-btn-xs dropdonw-item" lay-event="edit" v-m-perm="['pay:carsourceorder:update']" more-btn-index="{{d.LAY_INDEX-1}}">编辑</a>
                            <a class="layui-grid-btn-xs dropdonw-item" lay-event="settlement" v-m-perm="['pay:carsourceorder:settlement']" more-btn-index="{{d.LAY_INDEX-1}}">退车结算</a>
                        {{#}}}
                    {{#}}}
                </div>
            </div>
        </div>

    </script>

    <script src="../../statics/js/modules/order/carsourceorderlist.js?_${.now?long}"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/element-plus/index.css">
    <script type="text/javascript" src="../../statics/common/element-plus/index.full.min.js"></script>
</body>

</html>
