<!DOCTYPE html>
<html>
<head>
    <title>供应商</title>
        <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/list-search-table.css">
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/new_css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/viewer.min.css">
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>
<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/new_css/index.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/css/new_fonts/iconfont.css" media="all">
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <div class="mvvm-table">
        <div class="list-search-title-box">
            <form class="layui-form" style="box-shadow: 0 0 20px #eee;padding-right: 15px;">
                <section class="jxc-section" style="display: flex;align-items: flex-start;white-space: nowrap;">
                    <div class="card layui-row" style="flex: 1">
                        <div class="layui-form-item ">
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">供应商名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.supplierName" placeholder="请输入供应商名称" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">联系人</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.contacts"  placeholder="请输入联系人"/>
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md3 layui-col-sm6 layui-col-xs12">
                                <div style="display: flex;align-items: center;">
                                    <!--查询重置按钮-->
                                    <a class="layui-btn search-btn" @click="query">查询</a>
                                    <a class="layui-btn reset-btn" @click="reset">重置</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div class="list-search-title-box">
            <form class="layui-form">
                <div style="display:flex;width: 100%;">
                    <div class="layui-form-item layui-row" style="width: 100%;">
                        <div class="list-search-form-button" style="width: 100%;">
                            <a class="layui-btn btn-primary" v-m-perm="['chl:chlchannel:save']" @click="add">新增</a>
                            <a class="layui-btn btn-info" v-m-perm="['purchase:purchasesupplier:export']" id="imports">导入</a>
                            <a style="margin-left: 10px" class="layui-btn btn-success" v-m-perm="['purchase:purchasesupplier:export']" @click="importTemplate">导入模板</a>
                            <a class="layui-btn btn-warning" v-m-perm="['purchase:purchasesupplier:export']" @click="exports">导出</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="layui-tab layui-tab-card"  lay-filter="tableLst">
            <ul class="layui-tab-title">
                <li lay-id='' class="layui-this">全部({{statistics.all}})</li>
                <li lay-id='1'>已启用({{statistics.enable}})</li>
                <li lay-id='0'>已禁用({{statistics.disable}})</li>
            </ul>
            <div class="layui-tab-content" >
                <table class="layui-hide" id="grid" lay-filter="grid"></table>
            </div>
        </div>
    </div>

</div>


<!--操作-->
<script type="text/html" id="barTpl">
        <mperm v-m-perm="['purchase:purchasesupplier:update']" class="option-btn-margin">
    <a class="layui-grid-btn-xs" lay-event="edit" more-btn-index="{{d.LAY_INDEX-1}}">编辑</a>
        </mperm>
        <mperm v-m-perm="['purchase:purchasesupplier:info']" class="option-btn-margin">
    <a class="layui-grid-btn-xs" lay-event="show" more-btn-index="{{d.LAY_INDEX-1}}">查看</a>
        </mperm>

</script>

<script src="../../statics/js/modules/purchase/purchasesupplier.js"></script>
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
</body>
</html>
