<!DOCTYPE html>
<html>
<head>
<title>秒杀活动</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/list-search-table.css">
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/new_css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/new_css/viewer.min.css">
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>
<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/new_css/index.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/css/new_fonts/iconfont.css" media="all">
    <style>
        .layui-table-cell {
            padding:0 5px;
            height:inherit;
            overflow:visible;
            text-overflow:inherit;
            white-space:normal;
            word-break: break-all;
        }
    </style>
</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <div class="mvvm-table">
        <div id="searchId">
            <div class="list-search-title-box">
                <form class="layui-form">
                    <div style="display:flex;width: 100%;">
                        <div class="layui-form-item layui-row" style="width: 100%;">
                            <div class="list-search-form-button" style="width: 100%;">
                                <a class="layui-btn btn-primary" v-m-perm="['scactivity:scactivityseckill:save']" @click="add">新增</a>
                                <a class="layui-btn btn-warning" v-m-perm="['scactivity:scactivityseckill:export']" id="exports">导出</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="list-table-content-box">
            <table class="layui-hide" id="grid" lay-filter="grid"></table>
        </div>
    </div>
    <form id="downLoadXls" style="display: none" method="post" target="">
        <input type="text" name="datas"/>
    </form>
</div>

<!--操作-->
<script type="text/html" id="barTpl">
    <mperm v-m-perm="['scactivity:scactivityseckill:info']" class="option-btn-margin">
    <a class="layui-grid-btn-xs" lay-event="view" more-btn-index="{{d.LAY_INDEX-1}}">详情</a>
    </mperm>
    {{#if(d.status == 1) {}}
        <mperm v-m-perm="['scactivity:scactivityseckill:update']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="edit" more-btn-index="{{d.LAY_INDEX-1}}">编辑</a>
        </mperm>
        <mperm v-m-perm="['scactivity:scactivityseckill:delete']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="del" more-btn-index="{{d.LAY_INDEX-1}}">删除</a>
        </mperm>
        <mperm v-m-perm="['scactivity:scactivityseckill:start']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="start" more-btn-index="{{d.LAY_INDEX-1}}">开始</a>
        </mperm>
    {{#} }}

    {{#if(d.status == 2) {}}
        <mperm v-m-perm="['scactivity:scactivityseckill:stop']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="stop" more-btn-index="{{d.LAY_INDEX-1}}">暂停</a>
        </mperm>
        <mperm v-m-perm="['scactivity:scactivityseckill:share']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="share" more-btn-index="{{d.LAY_INDEX-1}}">分享</a>
        </mperm>
        <!--<mperm v-m-perm="['scactivity:scactivityseckill:data']">
        <a class="layui-grid-btn-xs" lay-event="datas">活动数据</a>
        </mperm>-->
    {{#} }}

    {{#if(d.status == 3) {}}
        <mperm v-m-perm="['scactivity:scactivityseckill:start']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="start" more-btn-index="{{d.LAY_INDEX-1}}">开始</a>
        </mperm>
        <mperm v-m-perm="['scactivity:scactivityseckill:finished']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="finish" more-btn-index="{{d.LAY_INDEX-1}}">结束</a>
        </mperm>
        <!--<mperm v-m-perm="['scactivity:scactivityseckill:data']">
        <a class="layui-grid-btn-xs" lay-event="datas">活动数据</a>
        </mperm>-->
    {{#} }}

    {{#if(d.status == 4) {}}
        <mperm v-m-perm="['scactivity:scactivityseckill:copy']" class="option-btn-margin">
        <a class="layui-grid-btn-xs" lay-event="copy" more-btn-index="{{d.LAY_INDEX-1}}">复制活动</a>
        </mperm>
        <!--<mperm v-m-perm="['scactivity:scactivityseckill:data']">
        <a class="layui-grid-btn-xs" lay-event="datas">活动数据</a>
        </mperm>-->
    {{#} }}
</script>

<script src="../../statics/js/modules/scactivity/scactivityseckilllist.js?_${.now?long}"></script>
</body>
</html>
