@font-face {
  font-family: "layui-icon-extend"; /* Project id 3979912 */
  src: url('iconfont.woff2?t=1680437866449') format('woff2'),
       url('iconfont.woff?t=1680437866449') format('woff'),
       url('iconfont.ttf?t=1680437866449') format('truetype');
}

.layui-icon-extend {
  font-family: "layui-icon-extend" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layui-extend-icon_xiaoxi:before {
  content: "\e648";
}

.layui-extend-jiaoyiliushui2:before {
  content: "\e686";
}

.layui-extend-a-dingdanguanli2:before {
  content: "\e658";
}

.layui-extend-a-hetongguanli1:before {
  content: "\e659";
}

.layui-extend-a-hetongguanli3:before {
  content: "\e65a";
}

.layui-extend-a-hetongguanli4:before {
  content: "\e65b";
}

.layui-extend-a-cheliang1:before {
  content: "\e65d";
}

.layui-extend-a-dingdanguanli4:before {
  content: "\e65e";
}

.layui-extend-a-dingdanguanli1:before {
  content: "\e65f";
}

.layui-extend-caiwutixing1:before {
  content: "\e660";
}

.layui-extend-a-dingdanguanli5:before {
  content: "\e662";
}

.layui-extend-a-hetongguanli2:before {
  content: "\e663";
}

.layui-extend-a-dingdanguanli3:before {
  content: "\e664";
}

.layui-extend-gongzuotai1:before {
  content: "\e665";
}

.layui-extend-a-hetongguanli7:before {
  content: "\e666";
}

.layui-extend-dingdanguanli1:before {
  content: "\e667";
}

.layui-extend-a-gongzuotai1:before {
  content: "\e668";
}

.layui-extend-a-kehuguanli1:before {
  content: "\e669";
}

.layui-extend-tubiao01:before {
  content: "\e66a";
}

.layui-extend-jiankong1:before {
  content: "\e66b";
}

.layui-extend-hetongguanli1:before {
  content: "\e66d";
}

.layui-extend-a-kehuguanli7:before {
  content: "\e66e";
}

.layui-extend-jiankongguanli1:before {
  content: "\e66f";
}

.layui-extend-a-hetongguanli5:before {
  content: "\e671";
}

.layui-extend-a-kehuguanli3:before {
  content: "\e672";
}

.layui-extend-a-kehuguanli8:before {
  content: "\e673";
}

.layui-extend-a-hetongguanli6:before {
  content: "\e674";
}

.layui-extend-a-dingdanguanli6:before {
  content: "\e675";
}

.layui-extend-weibao1:before {
  content: "\e677";
}

.layui-extend-quanbudingdan1:before {
  content: "\e678";
}

.layui-extend-a-kehuguanli2:before {
  content: "\e679";
}

.layui-extend-weibaotixing1:before {
  content: "\e67a";
}

.layui-extend-a-kehuguanli5:before {
  content: "\e67b";
}

.layui-extend-a-kehuguanli6:before {
  content: "\e67d";
}

.layui-extend-a-kehuguanli4:before {
  content: "\e67f";
}

.layui-extend-kehuguanli1:before {
  content: "\e680";
}

.layui-extend-a-tubiao011:before {
  content: "\e681";
}

.layui-extend-weizhangguanli1:before {
  content: "\e683";
}

.layui-extend-xinzi1:before {
  content: "\e684";
}

.layui-extend-shebeiguanli1:before {
  content: "\e685";
}

.layui-extend-yuetixian:before {
  content: "\e649";
}

.layui-extend-daikou:before {
  content: "\e64b";
}

.layui-extend-jiesuanshenhe:before {
  content: "\e64f";
}

.layui-extend-yingfu:before {
  content: "\e651";
}

.layui-extend-yingshou:before {
  content: "\e653";
}

.layui-extend-xinzi:before {
  content: "\e654";
}

.layui-extend-jiankongguanli:before {
  content: "\e64a";
}

.layui-extend-shebeiguanli:before {
  content: "\e64c";
}

.layui-extend-hetongguanli:before {
  content: "\e64d";
}

.layui-extend-caiwutixing:before {
  content: "\e64e";
}

.layui-extend-dingdanguanli:before {
  content: "\e650";
}

.layui-extend-weibaotixing:before {
  content: "\e652";
}

.layui-extend-kehuguanli:before {
  content: "\e655";
}

.layui-extend-weizhangguanli:before {
  content: "\e657";
}

.layui-extend-shaixuan:before {
  content: "\e647";
}

.layui-extend-beiyong:before {
  content: "\e643";
}

.layui-extend-yongche:before {
  content: "\e644";
}

.layui-extend-yuding:before {
  content: "\e645";
}

.layui-extend-zhengbei:before {
  content: "\e646";
}

.layui-extend-gongzuotai:before {
  content: "\e63e";
}

.layui-extend-quanbudingdan:before {
  content: "\e63f";
}

.layui-extend-jiankong:before {
  content: "\e640";
}

.layui-extend-weibao:before {
  content: "\e641";
}

.layui-extend-cheliang:before {
  content: "\e642";
}

.layui-extend-zs-gzt:before {
  content: "\e63a";
}

.layui-extend-xcx:before {
  content: "\e634";
}

.layui-extend-bbty:before {
  content: "\e635";
}

.layui-extend-cwgl:before {
  content: "\e636";
}

.layui-extend-xtgl:before {
  content: "\e637";
}

.layui-extend-yxgl:before {
  content: "\e638";
}

.layui-extend-khgl:before {
  content: "\e639";
}

.layui-extend-fkyj:before {
  content: "\e63b";
}

.layui-extend-zczx:before {
  content: "\e63c";
}

.layui-extend-zzjg:before {
  content: "\e63d";
}

