<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
    <link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
    <script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
    <script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
    <script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/common.js"></script>
    <script type="text/javascript" src="../../statics/js/upload.js"></script>
    <script type="text/javascript" src="../../statics/common/step/steps.js"></script>
    <link rel="stylesheet" href="../../statics/css/jxcPublicAll.css" media="all">
    <link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../statics/common/step/steps.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
    <link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
    <script src="../../statics/js/modules/cropper/cropper.min.js"></script>
    <script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
    <script src="../../statics/common/layui/autocomplete.js"></script>
    <script src="../../statics/js/modules/viewer/viewer.min.js"></script>
    <script src="../../statics/common/print-js/print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
    <script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
    <script type="text/javascript" src="../../statics/js/searchview.js"></script>
    <script type="text/javascript" src="../../statics/js/tableedit.js"></script>

    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

    <!-- 引入组件库 -->
    <link rel="stylesheet" type="text/css" href="../../statics/css/index.css">






</head>

<body class="ren-body">
    <div id="rrapp" v-cloak>
        <div class="list-search-title-box">
            <!-- <div class="list-search-sup-title">
            筛选条件:
        </div> -->
            <form class="layui-form" style="box-shadow: 0 0 20px #eee;padding-right: 15px;">
                <section class="jxc-section">
                    <div class="card layui-row">
                        <div class="layui-form-item ">
                            <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">供应商:</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.supplierName"
                                        placeholder="请输入供应商名称" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">车牌号:</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input searchVal" v-model="q.carNo"
                                        placeholder="请输入车牌号" />
                                </div>
                            </div>
                            <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                                <label class="layui-form-label">车辆来源:</label>
                                <div class="layui-input-inline">
                                    <select name="carStatus" v-model="q.carSourceType" class="layui-select"
                                        lay-filter="carSourceTypeSelect">
                                        <!--车辆来源 1 自购 2 租赁 3 租售 -->
                                        <option value="">全部</option>
                                        <option value="1">自购</option>
                                        <option value="2">租赁</option>
                                        <option value="3">租售</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div style="display: flex;align-items: center;justify-content: center;">
                    <div class="layui-form-item layui-row">
                        <div class="list-search-form-button">
                            <a class="layui-btn search-btn" @click="query">查询</a>
                            <a class="layui-btn reset-btn" @click="reset">重置</a>
                            <a class="layui-btn search-btn" id="sorffff">车辆来源数据导入</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="grid" lay-filter="grid"></table>
        </div>

        <form id="transferCar" class="layui-form ren-form" style="padding-bottom: 60px;" v-show="transferCarShow">
            <div class="form-content-box">
                <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                    车辆过户信息
                </div>
                <div class="form-content-session-box">
                    <div class="card">
                        <div class="layui-row layui-form-row-content">
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">车牌号<span style="color:red;">*</span>:</label>
                                <div class="layui-input-inline">
                                    <input v-model="transferCarData.carNo" type="text" lay-verify="required"
                                        class="layui-input searchVal" placeholder="请输入车牌号" />
                                </div>
                            </div>
                        </div>
                        <div class="layui-row layui-form-row-content">
                            <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                <label class="layui-form-label">是否修改订单：</label>
                                <div class="layui-input-inline">
                                    <input type="radio" lay-filter="isConnectCarFilter" name="isConnectCar"
                                        v-model="transferCarData.isConnectCar" value="1" lay-skin="primary" title="是">
                                    <input type="radio" lay-filter="isConnectCarFilter" name="isConnectCar"
                                        v-model="transferCarData.isConnectCar" value="0" lay-skin="primary" title="否">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-btn-group bottom-bar">
                <a class="layui-btn reset-btn" @click="transferCarCancel">取消</a>
                <a class="layui-btn search-btn" lay-submit lay-filter="transferCarSave">保存</a>
            </div>
        </form>
    </div>

    <!--操作-->
    <script type="text/html" id="barTpl">
<!--    <#if shiro.hasPermission("financial:carbasicsource:info")>-->
    <a class="layui-grid-btn-xs" lay-event="details" v-m-perm="['financial:carbasicsource:info']">详情</a>
    <!--    </#if>-->
    {{# if(d.transferStatus == 0){ }}
    <a class="layui-grid-btn-xs" lay-event="transfer">过户</a>
    {{#}}}
    </script>
    <script src="../../statics/js/modules/car/carbasicsource.js"></script>
</body>

</html>