<!DOCTYPE html>
<html>
<head>
<title>围栏预警</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/css/index.css">






</head>
<body class="ren-body">
<div id="rrapp" v-cloak>

    <!-- 新增表单 -->
    <form class="layui-form ren-form" style="margin-bottom: 60px;">

        <div class="form-content-box">
            <div class="list-search-sup-title new-layui-title border-bottom-dashed">
                围栏预警基本信息
            </div>
            <div class="form-content-session-box">
                <div class="card">
                    <div class="layui-row layui-form-row-content">
                                                                                                                                        <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>预警id</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_warningId" v-model="carWarning.warningId" autocomplete="off" placeholder="预警id" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>车辆编号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_carId" v-model="carWarning.carId" autocomplete="off" placeholder="车辆编号" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>车牌号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_carNo" v-model="carWarning.carNo" autocomplete="off" placeholder="车牌号" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>车架号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_vinNo" v-model="carWarning.vinNo" autocomplete="off" placeholder="车架号" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>客户编号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_memberNo" v-model="carWarning.memberNo" autocomplete="off" placeholder="客户编号" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>客户名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_memberName" v-model="carWarning.memberName" autocomplete="off" placeholder="客户名称" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>客户电话</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_memberPhone" v-model="carWarning.memberPhone" autocomplete="off" placeholder="客户电话" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>所属公司</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_deptName" v-model="carWarning.deptName" autocomplete="off" placeholder="所属公司" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>所属公司id</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_deptId" v-model="carWarning.deptId" autocomplete="off" placeholder="所属公司id" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>电子围栏编号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_electricId" v-model="carWarning.electricId" autocomplete="off" placeholder="电子围栏编号" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>电子围栏名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_electricName" v-model="carWarning.electricName" autocomplete="off" placeholder="电子围栏名称" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>报警类型（1.驶入报警 2.驶出报警）</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_warningType" v-model="carWarning.warningType" autocomplete="off" placeholder="报警类型（1.驶入报警 2.驶出报警）" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>预警处理状态（1.已处理 2.未处理）</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_processingState" v-model="carWarning.processingState" autocomplete="off" placeholder="预警处理状态（1.已处理 2.未处理）" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>处理备注</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_processingNote" v-model="carWarning.processingNote" autocomplete="off" placeholder="处理备注" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>报警时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_warningTime" v-model="carWarning.warningTime" autocomplete="off" placeholder="报警时间" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>创建时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_createTime" v-model="carWarning.createTime" autocomplete="off" placeholder="创建时间" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>修改时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_updateTime" v-model="carWarning.updateTime" autocomplete="off" placeholder="修改时间" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>操作人id</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_sysUserId" v-model="carWarning.sysUserId" autocomplete="off" placeholder="操作人id" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>操作人名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_sysUserName" v-model="carWarning.sysUserName" autocomplete="off" placeholder="操作人名称" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                                                                <div class="layui-inline layui-col-md6 layui-col-sm6 layui-col-xs6">
                                    <label class="layui-form-label"><span style="color:red">*</span>报警地址</label>
                                    <div class="layui-input-inline">
                                        <input type="text" lay-verify="validate_address" v-model="carWarning.address" autocomplete="off" placeholder="报警地址" class="layui-input searchVal">
                                    </div>
                                </div>
                                                                        </div>
                </div>
            </div>
        </div>

        <div class="float-btn-group bottom-bar">
            <a class="layui-btn reset-btn" id="closePage">取消</a>
            <a class="layui-btn search-btn" lay-submit lay-filter="save" id="save">保存</a>
        </div>
    </form>


</div>


<script src="../../statics/js/modules/car/carwarningedit.js?_${.now?long}"></script>
</body>
</html>
