.ren-body {
	padding: 10px 10px 10px 0;
}

[v-cloak] {
	display: none;
}

/* 权限按钮默认隐藏 */
[v-m-perm] {
	display: none;
}

.grid-btn {
	margin-bottom: 12px;
}

.grid-btn .btn {
	margin-right: 10px;
}

.pointer {
	cursor: pointer;
}

.not-underline a:focus,
.not-underline a:hover {
	text-decoration: none;
}

.ren-form {
	margin-top: 13px;
}





.layui-elem-quote {
	border-left: 5px solid #3FACB3 !important;
}

ul.larryms-tab-title .layui-this,
.layui-bg-green,
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #fff !important;
	border: 1px solid #3FACB3 !important;

}

.layui-table-page .layui-laypage a,
.layui-table-page .layui-laypage span.layui-laypage-curr {
	padding: 0 7px !important;
}

.layui-table-page .layui-laypage a,
.layui-table-page .layui-laypage span {
	margin-right: 8px;
}

.layui-table-page .layui-laypage span {
	height: 22px;
}

.layui-laypage a,
.layui-laypage span {
	font-size: 14px;
}

.layui-laypage .layui-laypage-curr em {
	color: #3FACB3 !important;
}

.layui-form-onswitch {
	border-color: #3FACB3 !important;
	background-color: #3FACB3 !important;
}

.layui-layer-molv .layui-layer-title {
	background: #3FACB3 !important;
}

.layui-layer-molv .layui-layer-btn a {
	background: #3FACB3 !important;
	border-color: #3FACB3 !important;

}

.layui-layer-molv .layui-layer-btn .layui-layer-btn1 {
	background: #8fd5ff !important;
}

/* .layui-form-checked span, .layui-form-checked:hover span {
	background-color: rgba(23, 119, 205, 1) !important;
} */

.jxc-section .aTitle:before {
	background: #3FACB3 !important;
}

.mvvm-table {
	background: #fff;
	border-radius: 8px;
	padding: 16px 12px;
	box-sizing: border-box;
}

.mvvm-table .list-search-title-box:nth-child(1) {
	border-bottom:1px solid #dddddd;
	border-radius: 0;
}

.mvvm-table .layui-form {
	box-shadow: initial !important;
}
.mvvm-table .list-search-title-box:nth-child(2) {
	padding: 0px !important;
}
/* 默认颜色 */
.df-color {
	color: #3FACB3;
}

.option-btn-margin {
	margin-right: 8px;
}

.layui-table-col-special .option-btn-margin:last-child {
	margin-right: 0px;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	padding-right: 12px;
}

/* 按钮状态 */
.btn-primary {
	border: 1px solid #3FACB3 !important;
	background-color: #fff !important;
	color: #3FACB3 !important;
	border-radius: 28px !important;
}

.btn-primary-silode {
	background-color: #3FACB3 !important;
	color: #fff !important;
}

.btn-primary:hover {
	border: 1px solid #3FACB3 !important;
	background-color: #3FACB3 !important;
	color: #fff !important;
	border-radius: 28px !important;
}

.btn-info {
	border: 1px solid #9266D5 !important;
	background-color: #fff !important;
	color: #9266D5 !important;
	border-radius: 28px !important;
}

.btn-info:hover {
	border: 1px solid #9266D5 !important;
	background-color: #9266D5 !important;
	color: #fff !important;
	border-radius: 28px !important;
}

.btn-danger {
	border: 1px solid #F95150 !important;
	background-color: #fff !important;
	color: #F95150 !important;
	border-radius: 28px !important;
}

.btn-danger:hover {
	border: 1px solid #F95150 !important;
	background-color: #F95150 !important;
	color: #fff !important;
	border-radius: 28px !important;
}

.btn-success {
	border: 1px solid #419BEA !important;
	background-color: #fff !important;
	color: #419BEA !important;
	border-radius: 28px !important;
}

.btn-success:hover {
	border: 1px solid #419BEA !important;
	background-color: #419BEA !important;
	color: #fff !important;
	border-radius: 28px !important;
}

.btn-warning {
	border: 1px solid #FFA524 !important;
	background-color: #fff !important;
	color: #FFA524 !important;
	border-radius: 28px !important;
}

.btn-warning:hover {
	border: 1px solid #FFA524 !important;
	background-color: #FFA524 !important;
	color: #fff !important;
	border-radius: 28px !important;
}

/* 样式修改 */
.layui-badge-rim,
.layui-colla-content,
.layui-colla-item,
.layui-collapse,
.layui-elem-field,
.layui-form-pane .layui-form-item[pane],
.layui-form-pane .layui-form-label,
.layui-input,
.layui-layedit,
.layui-layedit-tool,
.layui-quote-nm,
.layui-select,
.layui-tab-bar,
.layui-tab-card,
.layui-tab-title,
.layui-tab-title .layui-this:after,
.layui-textarea {
	border-color: #e6e6e6 !important;
	border-radius: 4px;
}

.layui-table-box {
	border: 1px solid #e6e6e6;
}

.layui-form-select dl dd.layui-this {
	background-color: #3FACB3 !important;
}
.layui-table-view .layui-table td,
.layui-table-view .layui-table th {
	padding: 5px 8px !important;
}
.laytable-cell-checkbox{
	width:60px !important;
}
.laytable-cell-radio{
	width:60px !important;
}

.layui-form-radioed{
	width:60px !important;
}
.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #3FACB3 !important;
}

.larryms-right .larryms-tab .larryms-title-box .larryms-btn-default i {
	color: #3FACB3 !important;
}

.layui-grid-btn-xs {
	color: #3FACB3;
	cursor: pointer;
}

.layui-grid-div {
	width: 200px !important;
}

.user-div {
	width: 170px !important;
}

/* .laytable-cell-1-0-0{
	width: 50px !important;
} */

.shape-toolbar-boottom-float {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 49px;
	line-height: 49px;
	padding-bottom: 10px;
	background-color: white;
	z-index: 1024;
}

.shape-toolbar-boottom-float>a.btn-toolbar-clear {
	margin-left: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white !important;
}

.shape-toolbar-boottom-float>a.btn-toolbar-submit {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px
}

.layui-input-inline-upload>div.box-rect {
	margin-top: 8px;
	cursor: default;
}

.layui-input-inline-upload>div.box-rect>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.layui-input-inline-upload>div.box-rect-event,
.layui-input-inline-upload>div>div.btn-event {
	cursor: pointer;
}

.layui-input-inline-upload>div.box-rect>div>img.view-img {
	width: 99%;
	height: 99%;
}

.select-nobottom {
	padding-bottom: 0 !important;
}

.select-option-float-btn {
	text-align: center;
	position: sticky;
	left: 10px;
	bottom: 0;
	background-color: white !important;
	color: black;
}

.table-empty-left {
	margin-left: 0 !important;
}

.bottom-bar {}

.layui-form-item .layui-inline {
	display: flex;
}

.ren-body {
	padding: 0 !important;
}

#rrapp {
	border-radius: 8px;
	/*padding-bottom: 0 !important;*/
	/* padding: 20px !important; */
}

.layui-table,
.layui-table-view {
	margin: 15px 0;
}

thead th .layui-table-cell {
	font-size: 13px !important;
	color: #000 !important;
	font-weight: 600;
}

.layui-table-cell {
	height: 35px;
	line-height: 35px;
	padding:0 !important;
}
.clearRight{
	margin-right:0px !important;
}




/**
	新增页面头部样式
 */
/*.layui-layer{*/
/*	background-color: #f6f8f8 !important;*/
/*}*/

/*.layui-layer-title{*/
/*	background-color: #f6f8f8 !important;*/
/*}*/

/*.layui-layer-title{*/
/*	border: none !important;*/
/*	!*background-color: #f6f8f8 !important;*!*/
/*	padding: 0 40px 0 20px !important;*/
/*	position: relative;*/
/*	width: 60px !important;*/
/*	height: 30px !important;*/
/*	line-height: 30px !important;*/
/*	background-color: #fff !important;*/
/*	border-radius: 5px !important;*/
/*	box-shadow: 5px 5px 5px #eaeaea !important;*/
/*	margin: 0 0 15px 0 !important;*/
/*	color: #333 !important;*/
/*	font-weight: normal !important;*/
/*}*/

/*.layui-layer-setwin{*/
/*	left: 80px;*/
/*	top: 8px !important;*/
/*}*/
/*.layui-layer-setwin>.layui-layer-close1{*/
/*	color: #fff !important;*/
/*}*/

.layui-form-item .layui-input-inline {
	width: 100% !important;
}