<!DOCTYPE html>
<html>
<head>
<title>采购合同列表</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../statics/common/cascader/cascader/cascader.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="../../statics/common/layui/css/soulTable.css">
<link rel="stylesheet" type="text/css" href="../../statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/common.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../statics/css/list-search-table.css">
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-soul-table/docs/soulTable.css" media="all"/>-->
<script type="text/javascript" src="../../statics/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/common/lib/vue.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../statics/common/layui/layui.all.js"></script>
<script type="text/javascript" src="../../statics/common/js/axios.min.js"></script>
<script type="text/javascript" src="../../statics/common/js/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/common.js"></script>
<script type="text/javascript" src="../../statics/js/upload.js"></script>
<script type="text/javascript" src="../../statics/common/step/steps.js"></script>
<link rel="stylesheet" href="../../statics/css/jxcPublicAll.css"  media="all">
<link href="../../statics/common/photoviewer/dist/photoviewer.css" rel="stylesheet">
<link rel="stylesheet" href="../../statics/common/step/steps.css">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.css" media="all">-->
<link rel="stylesheet" href="../../statics/js/modules/cropper/cropper.css" media="all">
<link rel="stylesheet" type="text/css" href="../../statics/css/viewer.min.css">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>-->
<script src="../../statics/js/modules/cropper/cropper.min.js"></script>
<script src="../../statics/common/photoviewer/dist/photoviewer.js"></script>
<script src="../../statics/common/layui/autocomplete.js"></script>
<script  src="../../statics/js/modules/viewer/viewer.min.js"></script>
<script src="../../statics/common/print-js/print.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../statics/common/print-js/print.min.css">
<script type="text/javascript" src="../../statics/common/xmselect/xm-select.js"></script>
<script type="text/javascript" src="../../statics/js/searchview.js"></script>
<script type="text/javascript" src="../../statics/js/tableedit.js"></script>

<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=eo4XeZhRKHsQ0NOe6u6NkKscmRsk416B"></script>-->

<!-- 引入组件库 -->
<link rel="stylesheet" type="text/css" href="../../statics/css/index.css">






</head>
<body class="ren-body">
<div id="rrapp" v-cloak>
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <section class="jxc-section">
                <div class="card">
                    <div class="layui-form-item layui-row">
                        <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">合同编号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="q.code"
                                       autocomplete="off" placeholder="请输入合同编号"/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">合同状态</label>
                            <div class="layui-input-inline">
                                <select name="status" lay-filter="status" v-model="q.status">
                                    <option value="">全部</option>
                                    <option value=1>未生效</option>
                                    <option value=2>执行中</option>
                                    <option value=3>合同执行完成</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">供应商名称</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input searchVal" v-model="q.purchaseSupplierName"
                                       autocomplete="off" placeholder="请输入供应商名称"/>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md4 layui-col-sm6 layui-col-xs12">
                            <label class="layui-form-label">租赁类型</label>
                            <div class="layui-input-inline">
                                <select name="rentType" lay-filter="rentType" v-model="q.rentType">
                                    <option value="">全部</option>
                                    <option value=1>租赁</option>
                                    <option value=2>租售</option>
                                    <option value=3>直购</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-col-md12 layui-col-sm12 layui-col-xs12">
                            <label class="layui-form-label"></label>
                            <a class="layui-btn search_btn" @click="query">查询</a>
                            <a class="layui-btn search_btn" @click="reset">重置</a>
<!--                            <#if shiro.hasPermission("contract:contracpurchase:export")>-->
                            <a class="layui-btn layui-btn-danger layui-btn-normal" @click="exports" v-m-perm="['contract:contracpurchase:export']" >导出</a>
<!--                            </#if>-->
<!--                            <#if shiro.hasPermission("contract:contracpurchase:save")>-->
                            <a class="layui-btn layui-btn-normal" @click="add" v-m-perm="['contract:contracpurchase:save']">新增</a>
<!--                            </#if>-->
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </blockquote>
    <table class="layui-hide" id="grid" lay-filter="grid"></table>

</div>

<!--操作-->
<script type="text/html" id="barTpl">
<!--    <#if shiro.hasPermission("contract:contracpurchase:info")>-->
    <a class="layui-btn layui-btn-xs" lay-event="view" v-m-perm="['contract:contracpurchase:info']">查看</a>
<!--    </#if>-->
<!--    <#if shiro.hasPermission("contract:contracpurchase:update")>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit" v-m-perm="['contract:contracpurchase:update']">编辑</a>
<!--    </#if>-->
</script>

<script src="../../statics/js/modules/contract/contracpurchase.js?_${.now?long}"></script>
</body>
</html>
